<div class = "sidenav {{isCollapsed === true ? 'collapsed-menu' : ''}}">
  <div class="project-header">
    <!-- <div class="project-icon"></div>
    <h2>Nedbank Mobile Application</h2> -->
  </div>

  <div class="nav-items">
    <div class="collapse-button">
      <div class="inner-collapse-button">
        <button (click)="toggleCollapse()">
          <i *ngIf="isCollapsed === false" class="fa-solid fa-angles-left"></i>
          <i *ngIf="isCollapsed === true" class="fa-solid fa-angles-right"></i>
        </button>
      </div>
    </div>

    <div class="project-header">
      <div class="project-logo"></div>
      <!-- <p>Nedbank Mobile Application</p> -->
    </div>

    <div class="button-wrapper" [ngClass]="{ 'white-color': checkIfDashboardRoute() }">
      <button (click)="openDashboard()" class="view-tickets">
        <i class="fa-regular fa-ticket"></i>
        <span>Tickets</span>
      </button>
      <div *ngIf="checkIfDashboardRoute()" class="active-background"></div>
      <div *ngIf="!checkIfDashboardRoute()" class="inactive-background"></div>
    </div>

    <div class="button-wrapper" [ngClass]="{ 'white-color': checkIfGroupsRoute() }">
      <button (click) = "openTeams()" class="view-teams">
        <i class="fa-solid fa-user-group"></i>
        <span>Groups</span>
      </button>
      <div *ngIf="checkIfGroupsRoute()" class="active-background"></div>
      <div *ngIf="!checkIfGroupsRoute()" class="inactive-background"></div>
    </div>

    <div class="button-wrapper" [ngClass]="{ 'white-color': checkIfAnalyticsRoute() }">
      <button (click)="openAnalytics()" class="view-analytics">
        <i class="fa-solid fa-chart-simple"></i>
        <span>Analytics</span>
      </button>
      <div *ngIf="checkIfAnalyticsRoute()" class="active-background"></div>
      <div *ngIf="!checkIfAnalyticsRoute()" class="inactive-background"></div>
    </div>

    <div class="button-wrapper" *ngIf="authService.isAdmin() || authService.isManager()" [ngClass]="{ 'white-color': checkIfCreateAccountRoute() }">
      <button class="creat-account" (click)="openCreateAccount()">
        <i class="fa-solid fa-user-plus"></i>
        <span>Create Account</span>
      </button>
      <div *ngIf="checkIfCreateAccountRoute()" class="active-background"></div>
      <div *ngIf="!checkIfCreateAccountRoute()" class="inactive-background"></div>
    </div>

    <div class="button-wrapper" *ngIf="authService.isAdmin() || authService.isManager()" [ngClass]="{ 'white-color': checkIfCreateTicketRoute() }">
      <button (click)="openNewTicketForm()" class="add-ticket-button">
        <i class="fa-solid fa-circle-plus"></i>
        <span>Add Ticket</span>
      </button>
      <div *ngIf="checkIfCreateTicketRoute()" class="active-background"></div>
      <div *ngIf="!checkIfCreateTicketRoute()" class="inactive-background"></div>
    </div>

    <div class="button-wrapper" [ngClass]="{ 'white-color': checkIfProfileRoute() }">
      <button class="view-settings" (click)="openSettings()">
        <i class="fa-solid fa-gear"></i>
        <span>Profile</span>
      </button>
      <div *ngIf="checkIfProfileRoute()" class="active-background"></div>
      <div *ngIf="!checkIfProfileRoute()" class="inactive-background"></div>
    </div>
  </div>
</div>
