@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

*,
*:after,
*:before {
	box-sizing: border-box;
}


@keyframes hover{
  0% {
    height: 70%;
  }
  100% {
    height: 100%;
    width: 100%;
  }
}

.sidenav {
  height: 100vh;
  width: 18%;
  //background: rgb(249, 251, 252);
  // transition: all 300ms;
//   background: rgba(4,83,142);
// background: linear-gradient(147deg, rgba(4,83,142,1) -20%, rgba(0,196,255,1) 100%);
  // background: linear-gradient(180deg, rgba(4,83,142,1) 0%, rgba(116,172,205,1) 80.73%, rgba(0,167,218,1) 100%);
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin-top: 50px;
  border-right: 0.5px solid rgba(0,0,0,0.5);
  // box-shadow: inset -4px 0px 4px -4px rgba(0, 0, 0, 1);

  .project-header{
    color: #44546F;
    margin-bottom: 0.3em;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;

    i {
      margin-left: 0.5em;
    }

    .inner-header-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 0.7em;
      width: 95%;
      border-radius: 0.5em;
    }

    .inner-header-wrapper-center {
      justify-content: center;
    }

    .inner-header-wrapper:hover{
      background-color: #EEECEC;
      cursor: pointer;
    }

    .project-icon {
      min-width: 3em;
      min-height: 3em;
      max-width: 3em;
      max-height: 3em;
      border-radius: 0.4em;
      margin-right: 1em;
      margin-left: 0em;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 60%;
      }
    }

    h2 {
      font-size: 0.8em !important;
      font-family: 'Montserrat' !important;
      margin-bottom: 0;
      line-height: 1.3em;
      margin-right: 0.3em;
    }
  }

  .hr-line {
    width: 90%;
    height: 0.05em;
    background-color: rgba(0,0,0,0.2);
    margin-top: 0.5em;
  }

  .nav-items{
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: flex-start;
    position: relative;
    height: 100%;

    .collapse-button{
      width: 2.5em;
      height: 2.5em;
      background: rgb(249, 251, 252);
      border-radius: 50%;
      border: 1px solid rgba(0,0,0,0.1);
      position: absolute;
      top: 0;
      right: -1.25em;
      z-index: 99999;
      display: flex;
      justify-content: center;
      align-items: center;

      .inner-collapse-button{
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background: rgb(235, 237, 239);
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(65, 145, 201);
      }
    }
  }

  .button-wrapper{
    width: 98%;
    border-end-end-radius: 0.2em;
    padding: 1em;
    font-size: 1em;
    color: #44546F;
    // color: rgba(255,255,255,0.7);
    font-family: "Poppins";
    letter-spacing: 0.05em;
    position: relative;
    min-width: 75%;
    white-space: nowrap;
    text-overflow: ellipsis;
    // overflow: hidden;

    i{
      min-width: 3em;
    }
  }

  .active{
    color: rgb(65, 145, 201);
    // color: white;
  }

  .active-background{
    width: 98%;
    height: 90%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
    // background-color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    // border-top-right-radius: 0.2em;
    // border-bottom-right-radius: 0.2em;
    z-index: -1;
    transition: all 300ms;
    z-index: -1;
  }

  .inactive-background{
    width: 0.3em;
    height: 60%;
    background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
    // background-color: white;
    position: absolute;
    left: -0.3em;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    z-index: -1;
    transition: all 300ms;
    z-index: -1;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
    height: 90%;
  }

  .button-wrapper:hover{
    // background-color: white;
    color: white;
  }

  .theme-wrapper:hover {
    color: rgb(68, 84, 111) !important;
  }

  .button-wrapper:hover .active-background{
    width: 97%;
    height: 90%;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
  }

  .button-wrapper:hover .inactive-background{
    width: 97%;
  }
}

.collapsed-menu{
  width: 6%;
}

.collapsed-menu .nav-items .button-wrapper span{
  display: none;
}

.white-color {
  color: white !important;
}

.options::-webkit-scrollbar {
  display: none;
}


.options{
  padding: 0.5em;
  border-radius: 0.3em;
  background-color: rgb(249, 251, 252);
  margin-top: 0.5em;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  // position: absolute;
  max-height: 200px;
  overflow: scroll;
  // -ms-overflow-style: none;  /* IE and Edge */
  // scrollbar-width: none;  /* Firefox */
  width: 95%;
  z-index: 9999;
  position: absolute;
  top: 100%;

  .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    align-items: center;
    padding: 2em 1em;
    border-radius: 0.3em;
    background-color: rgb(249, 251, 252);


    button {
      display: flex;
      align-items: center;
    }

    .option-text {
      font-family: 'Montserrat';
      font-size: 1em;
      color: rgba(0,0,0,0.66);
    }
  }

  .option:hover{
    background-color: #EEECEC;
  }
}

.user-img {
  width: 3em;
  height: 3em;
  min-width: 3em;
  min-height: 3em;
  max-width: 3em;
  max-height: 3em;
 //background-color: gray;
  border-radius: 0.3em;
  margin-right: 1em;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 60%;
  }
}


.orange-cl {
  background-color: rgb(236, 98, 64);
}

.orange-cl:hover {
  background-color: rgb(167, 72, 48);
}

.cyan-cl {
  background-color: rgb(90, 196, 226);
}

.cyan-cl:hover {
  background-color: rgb(72, 156, 179);
}

.yellow-cl {
  background-color: rgb(246, 198, 68);
}

.yellow-cl:hover {
  background-color: rgb(194, 156, 53);
}

.purple-cl {
  background-color: rgb(98, 86, 186);
}

.purple-cl:hover {
  background-color: rgb(72, 63, 138);
}

.grey-cl {
  background-color: #565656;
}

.grey-cl:hover {
  background-color: #373737;
}

.pink-cl {
  background-color: #D64769;
}

.pink-cl:hover {
  background-color: #9e354d;
}

.green-cl {
  background-color: #56DB8B;
}

.green-cl:hover {
  background-color: #3f9e65;
}

.blue-cl {
  background-color: rgb(58, 130, 186);
}

.blue-cl:hover {
  background-color: rgb(37, 84, 120);
}

/* Add this to your styles */
body.dark-mode-transition * {
  transition: background-color 0.3s ease, color 0.3s ease;
  /* Add any other properties that need a smooth transition */
}



// .project-header {
//   position: relative;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .project-icon {
//   width: 25px;
//   height: 25px;
//   background-color: white;
//   margin: 2em;
// }

// h2 {
//   color:#f1f1f1;
// }

// .nav-items img {
//   margin-right: 1em;
//   height: 1em;
//   width: 1em;
// }

// button {
//   border: 0;
//   width: 90%;
//   margin: 0.5em;
//   padding: 15px;
//   font-size: 1.2em;
//   color: #04538e;
//   background-color: #fff;
//   border-radius: 0.3em;
//   text-align: start;
//   box-shadow: 3px 3px #04538e;
//   cursor: pointer;
// }

// button:hover {
//   color: white;
//   background-color: #04538e;
//   box-shadow: 3px 3px #032f52;
//   transition-duration: 0.2s;
// }

// button:active {
//   color: white;
//   background-color: #04538e;
//   box-shadow: 0px 2px #032f52;
//   transform: translateY(3px);
// }

.theme-wrapper {
  display: flex;
  position: absolute !important;
  bottom: 5em;
  left: 0;

  p {
    margin-left: 1em;
  }
}

.theme-wrapper-collapsed {
  left: -4.5em !important;
  bottom: 6.5em !important;
}
