<div class="sidelogin">
  <!-- <div class="logoName">
    <img class="img-fluid" alt="Logo">
    <br>
    <h3>Software Name</h3>
  </div> -->

  <div class="loginDescription">
    <h1>Log in</h1>
    <p>Welcome back! Effortlessly streamline your requests with "Software"</p>
  </div>

  <form class="loginDetails">
    <label for="email">Email</label><br>
    <input type="email" id="email" name="email" class="form-control" required><br>

    <label for="pwd">Password</label><br>
    <input type="password" id="pwd" name="pwd" class="form-control" required><br>

    <div class="form-check keepLogin">
      <input type="checkbox" class="form-check-input" id="kLogin" name="kLogin" value="kLogin">
      <label class="form-check-label" for="kLogin"> Keep me logged in</label>
    </div>

    <button type="button" class="btn btn-primary mt-3" (click)="navigateToDashboard($event)">Log in</button>
  </form>
</div>
