body {
  background-color: #000;
  font-family: 'Montserrat';
}

.loginPage {
  background-color: #000;
  font-family: 'Montserrat';
}

.sidelogin {
  height: 100%;
  width: 792px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 30px;
}

.logoName {
  text-align: center;
  margin-bottom: 20px;
}

.loginDescription {
  margin-bottom: 30px;
}

.loginDetails {
  margin-bottom: 20px;
}

.loginDetails input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: none;
  background: #fff;
}

.loginDetails label {
  margin-bottom: 5px;
  display: block;
}

.form-check.keepLogin {
  margin-bottom: 20px;
}

.form-check.keepLogin label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.form-check.keepLogin input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
}

.btn {
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.btn:hover {
  background: #494945;
  transition: background 0.3s ease;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.illustration {
  background-color: #000
}