@import url('https://fonts.cdnfonts.com/css/futura-pt');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Poppins&display=swap');

.dashboard-container{
  background: -webkit-linear-gradient(left, #DE3DBF 10%, #67219E 100%, #fff 150%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
}

.background-img{
  position: fixed;
  bottom: -10em;
  z-index: -1000;
}

.client-dashboard-outer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

// .client-dashboard-outer-container{
//   display: flex;
//   justify-content: center;
//   // background-color: yellow;
//   margin: 0;
//   padding: 0;

//   .logo-header {
//     display: flex;
//     // background-color: yellow;
//     align-items: center;
//     position: absolute;
//     top: 0;
//     width: 100%;
//     padding: 2em;

//     .header{
//       display: flex;

//       img{
//         width: 3em;
//         height: 3em;
//         margin-right: 10px;
//         margin-bottom: 0px;
//       }

//       h1{
//         font-family: "Futura PT", sans-serif;
//         background: -webkit-linear-gradient(23deg, #67219E 10%, #00C4FF 180%, #fff 210%);
//         -webkit-background-clip: text;
//         -webkit-text-fill-color: transparent;
//         letter-spacing: 0.03em;
//         font-size: 3em;
//         margin: 0;
//         margin-left: 0.5em;
//         font-weight: 500;
//       }
//     }

//   }
//   // background-color: red;

//   .client-dashboard-inner-container{
//     width: 40%;
//     margin: 2em;
//     // background-color: green;
//     height: 75vh;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     position: relative;
//     background-color: green;
//     margin-top: 10em;

//   }
// }

.header-container{
  padding-top: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo-container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  margin-left: 2em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0px;
}

.logo-container h1 {
  display: inline-block;
  inline-size: min-content;
  font-family: "Futura Pt", sans-serif;
  font-size: 40px;
  background: -webkit-linear-gradient(23deg, #67219E 10%, #00C4FF 180%, #fff 210%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  font-weight: 500;
}

.logo-container img {
  width: 4em;
  height: 4em;
  margin-right: 1em;
  margin-bottom: 0px;
}

.organisation-container{
  color: white;
  font-family: 'Montserrat';
  padding-right: 2em;

  span{
    font-weight: bolder;
  }
}

.client-dashboard-inner-container{
  background-color: rgba(255,255,255,1);
  width: 70%;
  height: 100%;
  margin-top: 3em;
  border-radius: 0.5em;
  padding: 2em;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  margin-bottom: 3em;

  .url-container {
    font-size: 1.3em;
    color: #8D30AA;
    font-family: 'Montserrat';

    span {
      font-weight: 800;
    }
  }

  .welcome {
    margin: 2em;
    font-size: 1.3em;
    line-height: 1.5em;

    span {
      font-weight: 800;
    }
  }

  h1 {
    margin: 2em;

    i{
      margin-right: 0.5em;
    }
  }
}

.expansion-panel {
  margin: 2em;
  padding: 2em;
  border-radius: 0.8em;
  background: linear-gradient(133deg, #8529A8 0%, #CB3CBB 100%);
  display: flex;
  // justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: white;
  // transition: all 500ms;
  position: relative;

  h2 {
    font-family: 'Poppins';
    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .text-info {
    min-width: 90%;
  }

  p {
    font-family: 'Montserrat';
    color: rgba(255,255,255, 0.7);
    margin: 0;
    margin-top: 0.5em;
    padding: 0;
    // margin-top: -0.5em;
    max-width: 90%;
  }

  i{
    font-size: 3em;
    margin-left: 2em;
    position: absolute;
    right: 1em;
  }
}

.form-container {
  width: 100%;
  margin-top: 2em;

  .form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;

    label {
      color: rgba(0,0,0,0.6);
    }

    input, textarea {
      padding: 1em;
      border: 1px solid #494545;
      border-radius: 8px;
      outline: none;
    }

    select {
      background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 97% 50%;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      border: 1px solid #494545;
      padding: 1em;
      border-radius: 8px;
      outline: none;
    }
  }
}

.expanded {
  background: white;
  color: black;
  background: linear-gradient(white, white) padding-box,
  linear-gradient(133deg, #8529A8 0%, #CB3CBB 100%) border-box;
  border-radius: 0.8em;
  border: 4px solid transparent;

  p{
    color: rgba(0,0,0,0.7);
  }

 i {
  align-self: flex-start !important;
  transform: rotate(90deg);
 }

 .text-info {
  width: 200%;
 }
}

.submit-btn{
  background: -webkit-linear-gradient(left, #67219E 10%, #DE3DBF 100%, #fff 150%);
  font-family: 'Poppins';
  font-size: 20px;
  color: white;
  padding: 0.8em;
  border-radius: 9px;
  margin-top: 0.5em;
  min-width: 10em;
}

.profile-img {
  width: 3em;
  height: 3em;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 2em;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cancel-btn {
  border: 2px solid rgb(45, 109, 218);
  border-radius: 2em;
  padding: 0.5em;
  margin: 1em;
  margin-left: 0em;
  color: rgb(45, 109, 218);
  transition: all 300ms;
}

.cancel-btn:hover {
  background-color: rgb(45, 109, 218);
  color: white;
}

#description {
  margin-top: 0.5em;
  border-radius: 8px;
  height: 25vh;
  font-family: 'Poppins', sans-serif;
}

.errMsg {
  color: rgb(255, 87, 87) !important;
}

.errBorder {
  border-color: rgb(255, 87, 87) !important;
}

.ticketsContainer  {
  margin-top: 2em;
  overflow: scroll;
}
