<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<div class="page-container">
  <h1>Create Ticket</h1>

  <div class="form-container">
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
      <div class="form-header">
        <h1 class="assignee">Assignee: {{ assigneeName }}</h1>
      </div>

      <div class="project-details">
        <label>Project <span class="required">*</span></label>
        <select formControlName="project" required>
          <option value="Nedbank">Nedbank Mobile App</option>
          <option value="SB">Standard Bank Website</option>
          <option value="FNB">FNB Cash Withdrawal</option>
        </select>
      </div>

      <div class="ticket-details">
        <label>Summary <span class="required">*</span></label>
        <input type="text" formControlName="summary" required>

        <label class="descriptionLabel">Description:<span class="required">*</span></label>
        <input type="text" formControlName="description" required>
        <!-- <quill-editor>
          <div quill-editor-toolbar>
            <span class="ql-formats">
              <button class="ql-bold" [title]="'Bold'"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-align" [title]="'Aligment'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
              <select class="ql-align" [title]="'Aligment2'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
              </select>
            </span>
          </div>
        </quill-editor> -->
      </div>

      <div class="ticket-information">
        <label>Start Date <span class="required">*</span></label>
        <input type="date" formControlName="startDate" required>

        <label>End Date <span class="required">*</span></label>
        <input type="date" formControlName="endDate" required>

        <label>Priority <span class="required">*</span></label>
        <select formControlName="priority" required>
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>

        <label>Status <span class="required">*</span></label>
        <select formControlName="status" required>
          <option value="Active">Active</option>
          <option value="Pending">Pending</option>
        </select>
      </div>

      <div class="todos">
        <label>Todo's</label>
        <input type="text" formControlName="todo" required>

        <!-- AI GENERATION HERE -->
      </div>

      <div class="assignedInformation">
        <label>Assigned <span class="required">*</span></label>
        <select formControlName="assigned" required>
          <option *ngFor="let user of allUsers">{{ user.name }}</option>
        </select>

        <label>Group <span class="required">*</span></label>
        <select formControlName="group" required>
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>
      </div>

      <div class="submitButton">
        <button id="submit-button" type="submit">Submit</button>
      </div>
    </form>
  </div>

</div>


<app-dash-panel></app-dash-panel>
<app-page-header></app-page-header>
