@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.page-container {
  width: 82%;
  float: right;
  padding: 1.5em;
  margin-top: 60px;
  transition: all 300ms;
  margin-left: 1em;
  font-family: "Poppins", sans-serif;
}

.page-container h1 {
  font-family: 'Poppins', sans-serif;
}

.form-container {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1%;
  overflow: auto;

  animation: fadeIn 2s;
}

.form-container input[type="text"],
.form-container input[type="date"] {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  outline: none;
}

.form-container select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 97% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  outline: none;
}

.form-container label {
  font-size: 1.2em;
}

// form header for assignee
.form-header {
  display: flex;
  height: 4em;
  margin-bottom: 1.2em;
  align-items: center;
}

.form-header h1 {
  font-size: 3em;
  background: -webkit-linear-gradient(left, #04538E 30%, #00C4FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  padding: 0;
}

.img-wrapper {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  overflow: hidden;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

// project details for selection
.project-details {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

.project-details select {
  margin-top: 0.5em;
  width: 30vw;
  outline: none;
}

.project-details select option {
  font-size: 1.2em;
}

// ticket summary and description
.ticket-details {
  display: flex;
  flex-direction: column;
  padding: 2em 0 5em;
  border-bottom: 1px solid #ccc;
}

.ticket-details input {
  padding: 8px;
  margin-top: 0.5em;
  width: 30vw;
  outline: none;
}

.ticket-details quill-editor {
  margin-top: 0.5em;
  border-radius: 8px;
  height: 30vh;
}

.ticket-details .descriptionLabel {
  margin-top: 1em;
}

// ticket information for status and dates of ticket
.ticket-information {
  display: flex;
  justify-content: flex-start;
  padding: 2em 0;
  border-bottom: 1px solid #ccc;
}

.ticket-information-col1 {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;

  .toggleEndDate {
    display:flex;
  }

  p {
    margin-left: 10px;
  }

  .endDateSection label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .endDateSection input {
    display: block;
    margin-top: 5px;
    outline: none;
  }
}

.ticket-information-col1 .priorityLabel {
  margin-top: 1em;
}

.ticket-information-col1 select,
.ticket-information-col1 input[type="date"] {
  margin-top: 0.5em;
  width: 20vw;
  outline: none;
}

.ticket-information-col1 select option {
  font-size: 1.2em;
}

.ticket-information-col2 {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

.ticket-information-col2 .statusLabel {
  margin-top: 1em;
}

.ticket-information-col2 select,
.ticket-information-col2 input[type="date"] {
  margin-top: 0.5em;
  width: 20vw;
  outline: none;
}

.ticket-information-col2 select option {
  font-size: 1.2em;
}

// todo
.todos {
  display: flex;
  justify-content: flex-start;
  padding: 2em 0;
  border-bottom: 1px solid #ccc;
}

.todos-col1 {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

.todos-col2 {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

// .todos-col1 .bullet-textbox {
//   margin-top: 0.5em;
//   border: 1px solid #ccc;
//   padding: 8px;
//   border-radius: 8px;
//   min-height: 100px;
//   outline: none;
//   width: 30vw;
//   height: 30vh;
//   overflow-y: auto;
// }

// .todos-col1 .bullet-textbox ul,
// .todos-col1 .bullet-textbox ol {
//   padding-left: 20px;
//   margin-top: 0;
// }

// // .todos-col1 .bullet-textbox ul li,
// // .todos-col1 .bullet-textbox ol li {
// //   list-style-type: disc;
// // }

.todos-col1{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;

  .todo-tab{
    border: 2px solid #0384BF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    border-radius: 8px;
    margin-right: 1.2em;
    margin-bottom: 1.2em;
    margin-top: 0.5em;
    width: 30vw;
    height: fit-content;

    p{
      margin: 0 !important;
      font-size: 1em !important;
      word-break: break-all;
    }

    .todo-tab-icons {
      display: inline-flex;
    }

    .todo-tab-icons i {
      font-size: 1.2em;
      margin-left: 1em;
    }

    i:hover {
      cursor: pointer;
    }
  }
}

.todos-col1 .no-todo-added{
  width: 30vw;
  border: 2px dashed rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em;
  border-radius: 8px;
  flex-direction: column;
  margin-top: 0.5em;
}

.todos-col1 .add-btn {
  width: 3em;
  height: 3em;
  background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
  border-radius: 50%;
  color: white;
}

.todo-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  z-index: 999;

  .todo-overlay-inner-wrapper {
    width: fit-content;
    height: fit-content;
    background-color: rgb(249, 251, 252);
    padding: 2em;
    border-radius: 8px;

    h1 {
      font-size: 1.5em;
      font-family: 'Poppins';
      line-height: 1.2em;
      font-weight: bolder;

      background: -webkit-linear-gradient(290deg, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 90%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      width: fit-content;
    }

    textarea {
      width: 40vw;
      height: 10vh;
      border: 1px solid #ccc;
      padding: 8px;
      border-radius: 8px;
    }

    .todo-overlay-buttons {
      display: flex;
    }

    .add-todo-btn, .cancel-btn {
      font-size: 1em;
    }
  }
}

.add-todo-btn {
  background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
  font-family: 'Poppins';
  font-size: 20px;
  color: white;
  padding: 0.8em;
  border-radius: 0.3em;
  margin-top: 1em;
  min-width: 10em;
  display: flex;
  justify-content: center;
  align-self: center;
}

.cancel-btn {
  background: -webkit-linear-gradient(290deg, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Poppins';
  font-size: 20px;
  padding-bottom: 0.3em;
  margin-left: 1.5em;
  position: relative;
  border-bottom: 3px solid rgba(72, 160, 205);
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
  align-self: center;
}

// assigned Information
.assignedInformation {
  display: flex;
  justify-content: flex-start;
  padding: 2em 0;
  border-bottom: 1px solid #ccc;
}

.assignedInformation .assignedInformation-col1 {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

.assignedInformation .assignedInformation-col1 select {
  margin-top: 0.5em;
  width: 20vw;
  outline: none;
}

.assignedInformation .assignedInformation-col1 option {
  font-size: 1.2em;
}

.assignedInformation .assignedLabel {
  margin-top: 1em;
}

.assignedInformation .assignedInformation-col2 {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  border-left: 1px solid #ccc;
}

.assignedInformation .assignedInformation-col2 .memberAIBlock {
  margin-left: 1em;
  padding: 1em;
  // background: rgb(4,83,142);
  // background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
  background-clip: padding-box;
  color: white;
  height: 40vh;
  max-height: 40vh;
  border-radius: 8px;
}

.assignedInformation .assignedInformation-col2 .memberAIBlock .memberAIContentBlock {
  margin-top: 1em;
  border: 1px solid #fff;
  border-radius: 8px;
  height: 32vh;
  overflow: auto;
  background: #fff;
}

.assignedInformation .assignedInformation-col2 .memberAIBlock .memberAIContentBlock .memberAI {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  align-items: center;
  padding: 1em 25px 0.5em;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-radius: 0.5em;
  background: #fff;

  .memberAIDetail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    margin-top: auto;
    color: #000;
  }

  .Summary {
    margin-top: auto;
    font-size: medium;
    color: #04538E;
  }

  .memberAIStats {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .graph-badge-green {
      background-color: #C7F5D3;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: fit-content;
      border-radius: 0.3em;
      top: 50%;
      right: 10%;
      padding: 0.5em;
      transform: translateY(-50%);
      color: #33663D;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8em;
      margin-top: 2em;

      i {
        margin-right: 1em;
      }

      #imp {
        margin: 0 !important;
      }
    }

    .graph-badge-orange {
      background-color: #f6dccb;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
      max-width: fit-content;
      border-radius: 0.3em;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      color: #ab773b;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8em;
      margin-top: 2em;

      i {
        margin-right: 1em;
      }

      #imp {
        margin: 0 !important;
      }
    }

    .graph-badge-red {
      background-color: #d4c9c9;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em;
      max-width: fit-content;
      border-radius: 0.3em;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      color: #393535;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.8em;
      margin-top: 2em;

      i {
        margin-right: 1em;
      }

      #imp {
        margin: 0 !important;
      }
    }
  }
}




.assignedInformation .assignedInformation-col2 .memberAIBlock .memberAIContentBlock .memberAI:hover {
  background: rgba(116, 172, 205, 0.3);
  background-clip: padding-box, margin-box;
  transition-duration: 0.2s;
}

.assignedInformation .assignedInformation-col2 .memberAIBlock .memberAIContentBlock .memberAI .memberAIPhoto {
  flex: 0 0 auto;
  height: 3em;
  width: 3em;
  border-radius: 50px;
  margin-right: 20px;

  img {
        width: 100%;
        height: 100%;
  }
}

.assignedInformation .assignedInformation-col2 .memberAIBlock .memberAIContentBlock::-webkit-scrollbar {
  width: 8px;
}

.assignedInformation .assignedInformation-col2 .memberAIBlock .memberAIContentBlock::-webkit-scrollbar-thumb {
  background-color: #74ACCD;
  border-radius: 4px;
}

.assignedInformation .assignedInformation-col2 .memberAIBlock .memberAIContentBlock::-webkit-scrollbar-track {
  background-color: #f2f2f2;
  border-radius: 8px;
}

.assignedInformation .assignedInformation-col2 .memberAIBlock .memberAIContentBlock::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #0e80b5;
}

// css to make asterisk red
.required {
  color: red;
  margin-left: 5px;
}

#submit-button {
  display: flex;
  float: right;
  background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
  height: 3em;
  width: 8em;
  border: 0px none;
  border-radius: 8px;
  margin-top: 2em;
  margin-bottom: 2em;
  color: white;
  justify-content: center;
  align-items: center;
}

#generate-todo-button {
  display: flex;
  float: left;
  background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
  height: 3em;
  width: 12em;
  border: 0px none;
  border-radius: 8px;
  margin-top: 5.2em;
  // margin-bottom: 5.2em;
  color: white;
  justify-content: center;
  align-items: center;
}

.blue-label {
  background: -webkit-linear-gradient(left, #04538E 30%, #00C4FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
