.page-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 60px;
  left: 23%;
  right: 1%;
  bottom: 1%;
}

.form-container {
  width: 100%;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 4px;
  margin-bottom: 1%;
  overflow: auto;
}

/* Customize the scrollbar */
.form-container::-webkit-scrollbar {
  width: 8px;
}

.form-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.form-container::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

.form-container input[type="text"],
.form-container select,
.form-container input[type="date"] {
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
}

.textarea-container textarea {
  width: 100%;
  min-width: 300px; /* Adjust the width as per your requirement */
  height: 200px; /* Set the desired height */
  border: 1px solid #ccc; /* Add border */
  padding: 10px; /* Add padding inside the textarea */
  border-radius: 4px; /* Add rounded corners */
}

.text-tools {
  padding: 10px;
  background-color: #f2f2f2;
  margin-top: 10px;
}

.text-tools button,
.text-tools select {
  margin-right: 10px;
}

.ticket-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-column {
  width: 100%;
}

.form-column label {
  display: block;
  margin-bottom: 10px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.required {
  color: red;
  margin-left: 5px;
}


#submit-button,
#close-button {
  margin-left: 10px;
  border: 1px solid #ccc;

}
