<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<!-- <app-dash-panel></app-dash-panel> -->

<div class="page-container {{this.navbarIsCollapsed === true ? 'widen' : ''}}">
  <!-- <h1>Create Ticket</h1> -->

  <div class="form-container">
    <form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
      <div class="form-header">
        <div class="img-wrapper">
          <img src="{{ getUsersProfilePicture() }}" alt="profile-picture">
        </div>
        <h1 class="assignee">Assignee: {{ assigneeName }}</h1>

      </div>

      <div class="project-details">
        <label>Project<span class="required">*</span></label>
        <select formControlName="project" required (change)="projectChanged($event)">
          <option disabled selected value="">Select a project</option>
          <option *ngFor="let project of allProjects" [value]="project.name">{{ project.name }}</option>
        </select>
      </div>

      <div class="ticket-details">
        <label>Ticket Summary<span class="required">*</span></label>
        <input placeholder="Enter ticket summary" type="text" formControlName="summary" required>

        <label class="descriptionLabel">Ticket Description<span class="required">*</span></label>
        <quill-editor formControlName="description" [trimOnValidation]="true"></quill-editor>
        <div class="generateTodoButton">
          <button id="generate-todo-button" (click) = "generateTodo()">Generate To-do's</button>
        </div>
      </div>

      <div class="todos">
        <div class="todos-col1">
          <label>Todo's</label>
          <div class="todo-tab" *ngFor="let selectedTodo of todoArray; let i = index;">
            <p>{{ selectedTodo }}</p>

            <div class="todo-tab-icons">
              <i class="fa-solid fa-pencil" tabindex="0" (click)="editTodoTab($event, i)" (keyup)="handleKeyupEvent($event)"></i>
              <i class="fa-solid fa-xmark" tabindex="0" (click)="removeTodoTab($event, i)" (keyup)="handleKeyupEvent($event)"></i>
            </div>
          </div>

          <div class="no-todo-added" *ngIf="!todoAdded">
            <p>No Todos Added</p>
            <button class="add-btn" (click)="toggleAddTodoOverlay()" type="button">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>

          <button class="add-btn" (click)="toggleAddTodoOverlay()" type="button" *ngIf="todoAdded">
            <i class="fa-solid fa-plus"></i>
          </button>
        </div>

        <div class="todos=col2">
          <label>AI Generated Todo's</label>

          <div *ngIf="isLoading">
            <img src="../../assets/loading.gif" alt="Loading...">
          </div>

          <br>
          <label class="blueLabel" style="color:#04538E; font-size:0.9em;">Choose what to keep by selecting the checkboxes</label>
        </div>
      </div>

      <div class="ticket-information">
        <div class="ticket-information-col1">
          <div class = "toggleEndDate">
            <input type="checkbox" (change)="toggleDate()">
            <p>Custom End Date</p>
          </div>
          <div class = "endDateSection" *ngIf = "isCustomEndDate">
            <label>End Date<span class="required">*</span></label>
            <input class = "endDateCustom" type="date" formControlName="endDateCustom" required>
          </div>

          <label class="priorityLabel">Priority<span class="required">*</span></label>
          <select formControlName="priority" required>
            <option disabled selected value="">Select ticket's priority</option>
            <option value="High">High</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
          </select>
        </div>

        <div class="ticket-information-col2">

        </div>
      </div>

      <div class="assignedInformation">
        <div class="assignedInformation-col1">
          <label class="groupLabel">Group<span class="required">*</span></label>
          <select formControlName="group" required [(ngModel)]="selectedGroup" (change)="onGroupChanged($event)">
            <option value="" disabled selected>Select a group</option> 
            <option *ngFor="let option of allGroups" [value]="option.id">{{option.groupName}}</option>
          </select>

          <label class="assignedLabel">Assigned<span class="required">*</span></label>
          <select formControlName="assigned" required [(ngModel)]="selectedAssigned" (change)="onAssignedChange()">
            <option value="" disabled selected>Select assigned</option>
            <option *ngFor="let user of allUsers" [ngValue]="user">{{ user.name }}  {{ user.surname }}</option>
          </select>
        </div>

        <div class="assignedInformation-col2">
          <div class="memberAIBlock">
            <label class="blue-label">Suggested Members Based on Availability</label>
            <div class="memberAIContentBlock">
              <div class="memberAI" *ngFor="let user of suggestedUsers">
                <div class="memberAIPhoto">
                  <img [src]="user.userInfo.profilePhoto" alt="user" style="border-radius:50%;">
                </div>

                <div class="memberAIDetail">
                  <p class="Summary"><b>{{ user.userInfo.name }} {{ user.userInfo.surname}}</b></p>
                  <p><b>{{ user.userInfo.roles }}</b></p>
                </div>

                <div class="memberAIStats">
                  <p class="Summary"><b>Performance</b></p>
                  <div [ngClass]="getUserStatisticsClass(user.statistics)">
                    <i class="fa-solid fa-arrow-trend-up"></i>
                    <p id="imp">{{ user.statistics }}%</p>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <span class="error-message" *ngIf="ticketForm.get('description').invalid && ticketForm.get('description').touched">
        Description is required.
      </span> -->

    <div class="submitButton">
      <button id="submit-button" type="submit">Submit</button>
    </div>
  </form>


  <div class="todo-overlay" *ngIf="isAddTodoOverlayOpened">
    <div class="todo-overlay-inner-wrapper">
      <h1>Add a todo</h1>
      <textarea placeholder="Todo Description..." [formControl]="todo"></textarea>
      <br>

      <div class="todo-overlay-buttons">
        <button class="add-todo-btn" (click)="addTodo()">Add Todo</button>
        <button class="cancel-btn" (click)="toggleAddTodoOverlay()">Cancel</button>
      </div>
    </div>
  </div>

  <div class="todo-overlay" *ngIf="isEditTodoOverlayOpened">
    <div class="todo-overlay-inner-wrapper">
      <h1>Edit todo</h1>
      <textarea [(ngModel)]="temporaryTodo" [formControl]="todo"></textarea>
      <br>

      <div class="todo-overlay-buttons">
        <button class="add-todo-btn" (click)="editTodo()">Change Todo</button>
        <button class="cancel-btn" (click)="toggleEditTodoOverlay()">Cancel</button>
      </div>
    </div>
  </div>

</div>


</div>



<!-- <app-page-header></app-page-header> -->
