<!-- <div class="search-container">
  <input type="text" placeholder="Search by ID..." [(ngModel)]="searchTerm" class="search-input">
  <button (click)="searchTicket()" class="search-button">
    <img src="/assets/search-icon.png" alt="search" >
  </button>
</div> -->

<router-outlet></router-outlet>

<app-dash-panel *ngIf="!isLoginRoute && !isActivateAccountRoute && !isClientRoute"></app-dash-panel>
<app-page-header *ngIf="!isLoginRoute && !isActivateAccountRoute && !isClientRoute"></app-page-header>



