:root {
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}
// .container {
//   height: calc(100% - 3rem);
//   // background: #f4f4f4;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 20px;
// }

// .switch {
//   position: relative;
//   overflow: hidden;
//   width: 7.5rem;
//   height: 4rem;
// }

// .switch input {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 2;
//   opacity: 0;
// }

// .switch label {
//   cursor: pointer;
// }

// .background {
//   z-index: 1;
//   position: absolute;
//   width: 7.5rem;
//   height: 4rem;
//   border-radius: 2.5rem;
//   border: 0.25rem solid #202020;
//   background: linear-gradient(to right, #484848 0%,#202020 100%);
//   transition: all 0.3s;
// }

// .stars1,
// .stars2 {
//   position: absolute;
//   height: 0.4rem;
//   width: 0.4rem;
//   background: #FFFFFF;
//   border-radius: 50%;
//   transition: 0.3s all ease;
// }

// .stars1 {
//   top: 6px;
//   right: 23px;
// }

// .stars2 {
//   top: 40px;
//   right: 48px;
// }

// .stars1:after,
// .stars1:before,
// .stars2:after,
// .stars2:before{
//   position: absolute;
//   content: "";
//   display: block;
//   height: 0.25rem;
//   width: 0.25rem;
//   background: #FFFFFF;
//   border-radius: 50%;
//   transition: 0.2s all ease;
// }

// .stars1:after {
//   top: 8px;
//   right: 20px;
// }

// .stars1:before {
//   top: 18px;
//   right: -12px;
// }

// .stars2:after {
//   top: -8px;
//   right: -16px;
// }

// .stars2:before {
//   top: 6px;
//   right: -26px;
// }

// .sun-moon {
//   z-index: 2;
//   position: absolute;
//   left: 0;
//   display: inline-block;
//   height: 3rem;
//   width: 3rem;
//   margin: 0.5rem;
//   background: #FFFDF2;
//   border-radius: 50%;
//   transition: all 1s ease;

//   /* Default to Moon */
//   border: 0.25rem solid #DEE2C6;
// }

// .sun-moon .dots {
//   position: absolute;
//   top: 3px;
//   left: 23px;
//   height: 1rem;
//   width: 1rem;
//   background: #EFEEDB;
//   border: 0.25rem solid #DEE2C6;
//   border-radius: 50%;
//   transition: 1s all ease;
// }

// .sun-moon .dots:after,
// .sun-moon .dots:before {
//   position: absolute;
//   content: "";
//   display: block;
//   height: 0.25rem;
//   width: 0.25rem;
//   background: #EFEEDB;
//   border: 0.25rem solid #DEE2C6;
//   border-radius: 50%;
//   transition: 0.4s all ease;
// }

// .sun-moon .dots:after {
//   top: -4px;
//   left: -26px;
// }

// .sun-moon .dots:before {
//   top: 18px;
//   left: -10px;
// }


// .switch input:checked ~ .sun-moon {
//   left: calc(100% - 4rem);
//   background: #F5EC59;
//   border-color: #E7C65C;
//   transform: rotate(-25deg);
// }

// .switch input:checked ~ .sun-moon .dots,
// .switch input:checked ~ .sun-moon .dots:after,
// .switch input:checked ~ .sun-moon .dots:before {
//   background: #FFFFFF;
//   border-color: #FFFFFF;
// }

// .switch input:checked ~ .sun-moon .dots {
//   height: 1.5rem;
//   width: 1.5rem;
//   top: 0px;
//   left: -20px;
//   transform: rotate(25deg);
// }

// .switch input:checked ~ .sun-moon .dots:after {
//   height: 0.65rem;
//   width: 0.65rem;
//   top: 2px;
//   left: -12px;
// }

// .switch input:checked ~ .sun-moon .dots:before {
//   height: 0.4rem;
//   width: 0.4rem;
//   top: 6px;
//   left: 14px;
// }

// .switch input:checked ~ .background .stars1,
// .switch input:checked ~ .background .stars2 {
//   opacity: 0;
//   transform: translateY(2rem);
// }

// .switch input:checked ~ .background {
//   border: 0.25rem solid #78C1D5;
//   background: linear-gradient(to right, #78C1D5 0%, #BBE7F5 100%);
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-color: #cfafaf;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100%;
  transform: scale(0.3);
}

.toggle-switch {
  position: relative;
  width: 200px;
}

label {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: #28292c;
  border-radius: 50px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
  background-color: rgb(59, 59, 59);
}

input:checked ~ .slider {
  background-color: #e1e4e9;
}

.slider::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  box-shadow: inset 28px -4px 0px 0px white;
  background-color: rgb(59, 59, 59);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(95px);
  background-color: #28292c;
  box-shadow: none;
}
