<app-dash-panel></app-dash-panel>

<div class="ticket-container {{this.navbarIsCollapsed === true ? 'widen' : ''}}" *ngIf="ticket">

  <h1>{{ ticket.summary }}</h1>

  <div class="ticket-summary-area">

    <div class="summary-info">
      <div class="summary-inner-info">
        <div class="summary-header">
          <div class="user-profile-img">
            <!-- <img src="{{getCurrentUserImage()}}" alt="user profile image"> -->
          </div>
          <h2><span><b>{{ ticket.assignee }}</b></span> created this ticket on <span><b>{{ ticket.startDate }}</b></span></h2> <br>
        </div>

        <p>Description</p>
        <p *ngIf="ticket.description"> {{ ticket.description }} </p>
        <p *ngIf="!ticket.description">
          As a financial institution, Nedbank's user interface should be designed to provide a seamless and intuitive experience for its customers. The user interface should be user-friendly, visually appealing, and easy to navigate. It should enable customers to perform all their banking tasks efficiently, such as managing accounts, transferring funds, and applying for loans or credit cards.
        </p>
      </div>

      <div class="activity-area">
        <h2>Activity</h2>

        <button class="activity-filter-button selected">All</button>
        <button class="activity-filter-button">Comments</button>
        <button class="activity-filter-button">Internal Note</button>
        <button class="activity-filter-button">History</button>
        <button class="activity-filter-button">Work Logs</button>

        <div class="note-button-area">
          <div class="user-profile-img">
            <img src="{{userProfilePic}}" alt="user profile image">
          </div>
          <textarea [formControl]="commentInputControl" contenteditable="true" class="note-content" placeholder="Add a note..." (input)="adjustTextareaHeight($event.target)" [(ngModel)]="textareaValue"></textarea>
          <label for="fileInput" class="file-input-label">
            <input type="file" id="fileInput" class="file-input" (change)="onFileChange($event)" />
          </label>
        </div>

        <div class="save-btn-container">
        <!-- <button (click)="addComment()" class="save-btn">Save</button> -->
          <button (click)="saveData()" class="save-btn">Save</button>
        </div>

        <div class="attachment-preview" *ngIf="preview">
          <ng-container *ngIf="isPDF(file!.name)">
            <div class = "pdf-preview">
              <img src="../../assets/pdf.png" style = "max-width: 100px;" style = "max-height: 100px;" alt="PDF Attachment Preview" />
            </div>
          </ng-container>
          <ng-container *ngIf="!isPDF(file!.name)">
            <img [src]="preview" alt="Image Attachment Preview" />
          </ng-container>
          <input type="text" class="attachment-filename" [(ngModel)]="editedAttachmentName" (input)="updateEditedAttachmentName($event)" [placeholder]="file?.name" />
        </div>

        <!-- <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar> -->

        <!-- <div class="comments-area" *ngFor="let comment of ticket.comments">
          <app-comment-panel [comment]="comment"></app-comment-panel>
          <div class = "ticket-attachment">
            <ng-container *ngIf="comment.attachment?.url">
              <a *ngIf="isPDF(comment.attachment!.url)" [href]="comment.attachment?.url" target="_blank">'{{comment.attachment!.name}}'</a>
              <img *ngIf="!isPDF(comment.attachment!.url)" [src]="comment.attachment?.url" alt="Attachment">
              <a *ngIf="!isPDF(comment.attachment!.url)" [href]="comment.attachment?.url" download>'{{comment.attachment!.name}}'</a>
            </ng-container>
          </div>
        </div> -->
        <div class = "comments-area" *ngFor="let comment of ticket.comments">
          <app-comment-panel [comment]="comment"></app-comment-panel>
          <mat-expansion-panel class = "comment-panel" style = "margin: 20px;"  *ngIf="comment?.attachment?.name;">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span>{{ comment.content }} <br>
                  <a [href] = "comment.attachment!.url">{{comment.attachment?.name}}</a>

                </span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="ticket-attachment">
              <ng-container *ngIf="comment?.attachment?.name; ">
                <!-- <a *ngIf="isPDF(comment.attachment!.url)" [href]="comment.attachment?.url" target="_blank" >'{{comment.attachment!.name}}'</a> -->
                <img *ngIf="!isPDF(comment.attachment!.url)" [src]="comment.attachment?.url" alt="Attachment">
                <!-- <a *ngIf="!isPDF(comment.attachment!.url)" [href]="comment.attachment?.url" download>{{ comment.attachment!.name }}</a> -->
              </ng-container>
              <ng-template #noAttachments>
                No attachments
              </ng-template>
            </div>
          </mat-expansion-panel>
          <p *ngIf="!comment?.attachment?.name" style = "margin-left: 60px;">
            {{comment.content}}
          </p>
          <!-- <p *ngIf="isPDF(comment?.attachment!.url)">
            {{comment.content}} <br>
            <a [href] = "comment.attachment?.url"> {{comment.attachment?.name}}</a>
          </p> -->
        </div>

      </div>
    </div>

    <div class="ticket-info-area">
      <h1>Ticket Information</h1>
      <div class="button-area">
        <mat-form-field color="primary">
          <mat-label><span class="whiteText">{{ticket.status}}</span></mat-label>
          <mat-select [(value)]="selectedStatus" (valueChange)="updateTicketStatus()">
            <mat-option *ngIf="ticket.status !== 'Pending'" [value]="'Pending'">Change to Pending</mat-option>
            <mat-option *ngIf="ticket.status !== 'Active'" [value]="'Active'">Change to Active</mat-option>
            <mat-option *ngIf="ticket.status !== 'Done'" [value]="'Done'">Change to Done</mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <button class="update-status-button" mat-raised-button color="primary" (click)="updateTicketStatus()">Update Status</button> -->
      </div>


      <div class="sla-area">
        <mat-expansion-panel (opened)="SLAPanelOpenState = true"
                            (closed)="SLAPanelOpenState = false" [expanded]="SLAPanelOpenState">
          <mat-expansion-panel-header class="specific-class">
            <mat-panel-title class="mat-title">
              SLA
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="expansion-item">
            <p class="bold-label">Time to first response </p>
            <p class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg">Today 14:00 <i class="fa-regular fa-clock"></i></p>
          </div>

          <div class="expansion-item">
            <p class="bold-label">Time to resolution </p>
            <p class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg">9 May 16:00  <i class="fa-regular fa-clock"></i></p>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="details-area">
        <mat-expansion-panel (opened)="detailsPanelOpenState = true"
                            (closed)="detailsPanelOpenState = false" [expanded]="detailsPanelOpenState">
          <mat-expansion-panel-header class="specific-class">
            <mat-panel-title class="mat-title">
              Details
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="expansion-item">
            <p class="bold-label">Assignee </p>
            <div class="content">
              <div class="user-img"></div>
              <p class="assigned-text">John</p>
            </div>
          </div>

          <div class="expansion-item">
            <p>Assigned </p>
            <app-user-dropdown></app-user-dropdown>
          </div>

          <div class="expansion-item flex-start">
            <p>Priority </p>
            <p class="text-center">
              <span class="font-medium uppercase tracking-wider ml-8 text-lg priority
                {{ ticket.priority === 'Low' ? 'text-green-800 bg-green-200' :
                   ticket.priority === 'Medium' ? 'text-yellow-800 bg-yellow-200' :
                   ticket.priority === 'High' ? 'text-red-800 bg-red-200' : '' }}
                rounded-lg">
                {{ ticket.priority }}
              </span>
            </p>
          </div>

          <div class="expansion-item flex-start">
            <p>Created </p>
            <p class="left-margin">27 May 2023 &#x2022; 19:28</p>
          </div>
        </mat-expansion-panel>
      </div>
    </div>

  </div>

  <app-page-header></app-page-header>
<!--
  <table class="individual-ticket">
    <tr>
      <td class="ticket-item">
        <div class="ticket">
          <a class="card" [routerLink]="['/ticket', ticket.id]">{{ticket.id}}</a>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <h2 class="card">{{ ticket.summary }}</h2>
        </div>
      </td>
      <td class="ticket-item assignee">
        <div class="ticket">
          <img src="assets/profile-icon.png" alt="Profile icon">
          <p class="card">{{ ticket.assignee }}</p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">{{ ticket.assigned }}</p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">{{ ticket.group }}</p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">
            <span [ngClass]="{'high': ticket.priority === 'High', 'medium': ticket.priority === 'Medium', 'low': ticket.priority === 'Low'}" class="priority-bubble">
              {{ticket.priority}}
            </span>
          </p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">{{ ticket.startDate }}</p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">{{ ticket.endDate }}</p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">{{ ticket.status }}</p>
        </div>
      </td>
    </tr>
  </table>
</div> -->
