<app-page-header></app-page-header>
<app-dash-panel></app-dash-panel>

<div class="ticket-container" *ngIf="ticket">
  <table class="individual-ticket">
    <tr>
      <td class="ticket-item">
        <div class="ticket">
          <a class="card" [routerLink]="['/ticket', ticket.id]">{{ticket.id}}</a>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <h2 class="card">{{ ticket.summary }}</h2>
        </div>
      </td>
      <td class="ticket-item assignee">
        <div class="ticket">
          <img src="assets/profile-icon.png" alt="Profile icon">
          <p class="card">{{ ticket.assignee }}</p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">{{ ticket.assigned }}</p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">{{ ticket.group }}</p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">
            <span [ngClass]="{'high': ticket.priority === 'High', 'medium': ticket.priority === 'Medium', 'low': ticket.priority === 'Low'}" class="priority-bubble">
              {{ticket.priority}}
            </span>
          </p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">{{ ticket.startDate }}</p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">{{ ticket.endDate }}</p>
        </div>
      </td>
      <td class="ticket-item">
        <div class="ticket">
          <p class="card">{{ ticket.status }}</p>
        </div>
      </td>
    </tr>
  </table>
</div>
