.ticket-container {
  background-color: white;
  width: 82%;
  float: right;
  padding: 1.5em;
  margin-top: 60px;
  transition: all 300ms;

  h1{
    text-transform: capitalize;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
  }

  .comment-panel .mat-expansion-panel-header .mat-panel-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }


  .ticket-summary-area{
    margin-top: 1em;
    font-family: 'Montserrat';
    display: flex;
    position: relative;

    .summary-info{
      width: 65%;
      margin-right: 2em;

      .summary-inner-info{
        border: 1px solid black;
        padding: 1em;
        border-radius: 1em;
        height: fit-content;
        margin-bottom: 2em;

        .ticket-summary-area-todos-list {
          display: flex;
          align-items: center;

          input {
            margin-right: 0.5em;
          }

          .completed {
            text-decoration: line-through;
            color: #888;
          }
        }
      }

      .activity-area{
        background-color: rgba(0,0,0,0.05);
        border-radius: 0.7em;
        padding: 1em;
        width: 100%;
        position: relative;

        .activity-filter-button{
          margin: 0.5em;
          border: 1px solid #545151;
          padding: 0.3em 0.9em;
          border-radius: 0.7em;
        }

        .activity-filter-button-history{
          margin: 0.5em;
          border: 1px solid #545151;
          padding: 0.3em 0.9em;
          border-radius: 0.7em;
        }

        .selected{
          background-color: #545151;
          color: white;
        }



        .file-input {
          visibility: hidden;
          width: 0;
          height: 0;
        }

        .file-input-label {
          display: inline-block;
          width: 40px;
          height: 40px;
          background: url(../../assets/attachment.png) no-repeat center center;
          background-size: contain;
          cursor: pointer;
          transition: background-color .3s ease-in-out;
          margin-left: 20px;
          margin-right: 20px;
        }

        .file-input-label:hover {
          background-color: #d0d0d0;
        }

        .attachment-preview {
          display: flex;
          flex-direction: column;
          // align-items: center;
          margin-top: 1em;
          border-radius: 1em;
          border: 2px dashed black;
          padding: 2em;
          margin-bottom: 2em;
        }

        .attachment-preview img {
          max-width: 200px;
          max-height: 200px;
          margin-bottom: 0.5em;
        }

        .attachment-filename {
          width: 200px;
          padding: 0.5em;
          box-sizing: border-box;
        }



        .note-button-area{
          margin-top: 1em;
          display: flex;
          align-items: center;
          position: relative;

          textarea{
            resize: none; /* Disable manual resizing */
            overflow: hidden; /* Hide scrollbars */
            height: 2em;
          }

          .user-profile-img{
            width: 4em;
            height: 4em;
            background-color: gray;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;

            img{
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: 55%;
              transform: scale(1) translate(0, 0%);
            }
          }

          // .pdf-preview {
          //   // display: flex;
          //   max-width: 400px;
          //   max-height: 400px;
          //   margin-bottom: 120px;
          //   margin-right: 130px;
          // }



          .file-input-label {
            margin-right: 18px;
          }

          .note-content {
            height: 100%;
            padding: 0.8em;
            width: 80%;
            max-width: 80%;
            height: fit-content;
            outline: none;
            margin-left: 5em;
            border-bottom: 2px solid black;
            cursor: pointer;
          }
        }

        .save-btn-container{
          width: 100%;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 0.5em;
        }

        .save-btn{
          background: linear-gradient(147deg, rgba(4,83,142,1) 0%, rgba(0,196,255,0.7) 150%) !important;
          padding: 0.5em 1em;
          border-radius: 1em;
          color: white;
          box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
          -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
          -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
          margin: 1em;
        }
      }

      .summary-header{
        display: flex;
        align-items: center;
        margin-bottom: 1.5em;

        .user-profile-img{
          width: 4em;
          height: 4em;
          background-color: gray;
          border-radius: 50%;
          margin-right: 1em;
          overflow: hidden;
          position: relative;

          img{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 55%;
            transform: scale(1) translate(0, 0%);
          }
        }

        h2{
          margin: 0 !important;
          font-weight: lighter;
          span{
            font-weight: bolder;
          }
        }
      }
    }

    .ticket-info-area::-webkit-scrollbar {
      display: none;
    }

    .ticket-info-area{
      border: 1px solid black;
      padding: 1em;
      border-radius: 1em;
      width: 35%;
      height: fit-content;
      position: sticky;
      right: 0;
      top: 7em;
      max-height: 80vh;
      overflow: scroll;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      display:flex;
      flex-direction: column;
      // align-items: center;

      h1{
        font-size: 1.5em;
        margin-bottom: 1em;
      }

      .update-status-button {
        background-color: rgb(20, 122, 190);
        color: white;
        border-radius: 25px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        text-align: center;
        transition: 0.3s;
        margin-left: 20px;
        margin-bottom: 20px;
      }

      .update-status-button:hover {
        background-color: deepskyblue;
      }

      .sla-area {
        .expansion-item {
          font-family: 'Poppins';
        }
      }
    }
  }
}

.button-area{
  width: 100%;
  display: flex;
  justify-content: center;
}

.ticket-panel{
  width: 100%;
}

mat-expansion-panel{
  // border: 1px solid rgba(227, 229, 232);
  // border-radius: 0.7em;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.10);
  margin-bottom: 0.8em;
  border-radius: 0.7em;
}

mat-expansion-panel-header{
  background-color: rgba(227, 229, 232) !important;
  border-radius: 0.7em;
  padding: 1em;
  width: 100%;
}

.ticket-header {
  background: rgb(4,83,142) !important;
  background: linear-gradient(147deg, rgba(4,83,142,1) 0%, rgba(0,196,255,0.7) 150%) !important;
  padding: 0.7em;
  letter-spacing: 0.1em;

  .ticket-title{
    justify-content: center;
    font-size: 1em;
    // font-family: 'Montserrat';
    font-size: 1.3em;
    color: white;
    text-transform: uppercase;
  }
}

mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}

.block{
  background-color: green;
  width: 1em;
  height: 100%;
}

.activity-text{
  margin-left:10px;
}

::ng-deep .specific-class > .mat-expansion-indicator:after {
  border-color: black;
  width: 0.5em;
  height: 0.5em;
  border-bottom-width: 0.1em;
  border-right-width: 0.1em;
}

::ng-deep .ticket-header > .mat-expansion-indicator:after {
  border-color: white;
  width: 0.5em;
  height: 0.5em;
  border-bottom-width: 0.1em;
  border-right-width: 0.1em;
}


// .ticket {
//   border: 2px solid black;
//   border-radius: 15px;
//   padding: 10px;
//   background-color: white;
//   width: 100%;
//   box-sizing: border-box;
// }

.indivudal-ticket a {
  border-bottom: 1px solid black;
  margin-top: 5px;
  margin-bottom: 11px;
}

.ticket-item {
  padding: 10px 0;
  text-align: center;

}

.card {
  all: unset;
  display: inline-block;
}

.ticket-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.assignee img {
  border-radius: 50%;
  margin-right: 10px;
}

.priority-bubble {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #d6d6d6;
  font-weight: bold;
}

.modal-header {
  // background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
  font-family: 'Poppins';
  font-size: 1em;
  color: black;
  // padding: 0.8em;
  border-radius: 0.3em;
  margin-top: 0.5em;
  z-index: -2;
}

.save-button-worklog {
  background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
  font-family: 'Poppins';
  font-size: 0.8em;
  color: white;
  padding: 0.8em;
  border-radius: 0.3em;
  margin-top: 0.5em;
}

.high {
  color: red;
}

.medium {
  color: #FFA500;
}

.low {
  color: green;
}

.card-status {
  display: inline-block;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 5px;
}

.deadline {
  font-weight: bold;
}

.ticket-container table {
  width: 100%;
  border-collapse: collapse;
}

.ticket-container td {
  border: none;
}

.comments-area img {
  max-width: 100%;
  max-height: 200px;
  margin: 20px;
  margin-left: 20px;
}

.comments-area a {
  margin: 0px;
  margin-left: 20px;
  color: blue;
  text-decoration: underline;
}


//done button
.mat-mdc-form-field{
  width: 100%;
}

.whiteText {
  color: white;
}

// .mat-mdc-text-field-wrapper, .mdc-text-field, .ng-tns-c926814666-0, .mdc-text-field--filled{
//   background-color: red;
// }

::ng-deep .custom-snackbar {
  background-color: #333; /* Set the background color */
  color: #fff; /* Set the text color */
}

::ng-deep .custom-snackbar .mat-snack-bar-action {
  color: #479abb; /* Set the action color */
}

.flex-start {
  justify-content: flex-start !important;
}

.expansion-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  // padding(0 0.5 0.5)
  font-family: 'Poppins';
  padding-bottom: 0.2em;

  p{
    margin: 0;
  }

  .priority {
    width: 50%;
    padding: 0.3em 0;
  }

  .left-margin {
    margin-left: 2em;
    color: rgba(0,0,0,0.44);
  }

  .created-text {
    margin-right: 5px;
  }

  .content-2 {
    width: 69%;
    height: 2em;
    padding: 2em 1em;
    border-radius: 0.3em;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    margin-left: 2em;

    p {
      padding: 0 !important;
    }

  }


  .content {
    // min-width: 60%;
    width: 100%;
    height: 2em;
    padding: 2em 1em;
    border-radius: 0.3em;
    border: 1px solid rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    margin-left: 2em;

    p {
      padding: 0 !important;
    }

    .user-img {
      width: 3em;
      height: 3em;
      // background-color: gray;
      border-radius: 50%;
      margin-right: 1em;
      // transform: scale(1) translate(0, 0%);
      overflow: hidden;

      // img {
      //   border-radius: 50%;
      // }
    }
  }
}

.expansion-item:nth-last-child(1){
  margin-bottom: 0.7em;
}

.expansion-item p:nth-last-child(1){
  min-width: 50%;
  padding: 0.7em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i{
    margin-left: 0.5em;
  }
}

.bold-label{
  font-weight: 500;
}

app-user-dropdown{
  width: 80%;
  margin-left: 2em;
}

.ticket-container .ticket-summary-area .summary-info .check-btn {
    background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
    font-family: 'Poppins';
    font-size: 0.8em;
    color: white;
    padding: 0.8em;
    border-radius: 0.3em;
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    align-self: center;
}

.ticket-heading {
  display: flex;
  align-items: center;
  // font-size: 2em;

  .backButton {
    font-size: 1.5em;
    padding: 0.5em;
    padding-right: 1em;

    i:hover{
      cursor: pointer;
    }
  }

  h1 {
    margin: 0 !important;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);  /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;  /* makes sure it appears on top of other content */

}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 40%;
  height: 80%;
  overflow: scroll;
  overflow-x: hidden;
}

.rounded-button {
  background: linear-gradient(147deg, rgba(4,83,142,1) 0%, rgba(0,196,255,0.7) 150%) !important;
  padding: 1em;
  // margin-left: 500px;
  width: 100%;
  border-radius: 1em;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  // margin: 0.7em;
  margin-bottom: 1em;
}

// .rounded-button:hover {
//   background-color: #0056b3;
// }

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
}

textarea {
  width: 100%;
  resize: vertical;
}

.modal-header {
    margin-bottom: 10px;
}


.time-fields {
  display: flex;
  justify-content: space-between;
}


.date-time-fields {
  display: flex;
  justify-content: space-between;
}


.time-fields > .form-group,
.date-time-fields > .form-group {
  flex: 1;
  margin-right: 10px;
}

.time-fields > .form-group:last-child,
.date-time-fields > .form-group:last-child {
  margin-right: 0;
}

// .priority-text{
//   margin-top: 10px;
// }

.priority-low {
  // background-color:yellow;
  display: flex;
  // margin-top:10px;
  // padding: 1em;

  .low-container {
    background-color: rgb(175,247,198);
    border-radius: 0.5em;
    height: 100%;
    width: 100%;
    // margin-top: 5px;
    margin-left: 55px;
    top: 10px;

    display:flex;
    justify-content:center;
    align-items: center;

    .text-low {
      color: rgb(21,84,39);

    }
  }


  .low-input {
    width: 80%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid rgba(73, 69, 69, 0.2);
    margin-left:30px;

    font-size: 0/8em;
    font-family: 'Poppins';

    display: flex;
    align-items: center;
  }
}


.priority-medium {
  // background-color:yellow;
  display: flex;
  // margin-top:15px;
  // padding: 1em;

  .medium-container {
    background-color: rgb(254,238,119);
    border-radius: 0.5em;
    height: 80%;
    width: 100%;
    // margin-top: 5px;
    margin-left: 55px;

    display:flex;
    justify-content:center;
    align-items: center;

    .text-medium {
      color: rgb(113,60,14);

    }
  }


  .medium-input {
    width: 80%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid rgba(73, 69, 69, 0.2);
    margin-left:30px;

    font-size: 0/8em;
    font-family: 'Poppins';

    display: flex;
    align-items: center;
  }
}

.priority-high {
  // background-color:yellow;
  display: flex;
  // margin-top:15px;
  // padding: 1em;

  .high-container {
    background-color: rgb(253,189,190);
    border-radius: 0.5em;
    height: 80%;
    width: 100%;
    // margin-top: 5px;
    margin-left: 55px;

    display:flex;
    justify-content:center;
    align-items: center;

    .text-high {
      color: rgb(147,33,37);
      //commentinho
    }
  }


  .high-input {
    width: 80%;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 1px solid rgba(73, 69, 69, 0.2);
    margin-left:30px;

    font-size: 0/8em;
    font-family: 'Poppins';

    display: flex;
    align-items: center;
  }
}



.button-group {
  margin-top: 20px;
}


.custom-quill-editor .ql-container {
  height: 150px;
  width: 100%;
}

.ql-editor {
  max-height: 250px;
  overflow-y: auto;
}

.button-group button {
  margin-right: 10px;
}

.button-group button[type="submit"] {
  background-color: #007BFF;
  color: #ffffff;
  border: black;
  border-radius: 5px;
}

.custom-bullet {
  font-size: 24px; /* adjust this value to your liking */
}

.form-group input {
  transition: border 0.3s;  /* This ensures a smooth transition when hovering */
  border-radius: 5px;
}

/* Define the hover state style for the input elements */
.form-group input:hover {
  border: 1px solid blue;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  margin-bottom: 5px;
  font-weight: 500;
}

input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

.button-group button[type="submit"] {
  background-color: #007BFF;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px 20px; /* Added padding for better visual appeal */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transition effect */
  text-align: center; /* Align text to center */
}

/* Hover effect */
.button-group button[type="submit"]:hover {
  background-color: #0056b3;

}

/* Active effect (when the button is clicked) */
.button-group button[type="submit"]:active {
  background-color: #004499;

}

/* Focus effect (for accessibility) */
.button-group button[type="submit"]:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); /* Added a subtle shadow for focus effect */
}

.assignee-profile-image {
  width: 4em;
  height: 4em;
  background-color: gray;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 55%;
    transform: scale(1) translate(0, 0%);
  }
}
