<div class="ticket-container">
  <table class="w-full" matSort (matSortChange)="sortData($event)">
    <thead class="bg-gray border-b-2 border-gray-200">

      <tr>
        <th class="w-1 pl-10 text-sm font-semibold tracking-wide text-left" mat-sort-header="id"><span class="index">ID</span></th>
        <th class="w-44 pr-4 text-sm font-semibold tracking-wide text-left" mat-sort-header="summary"><span class="index">Summary</span></th>
        <th class="w-6 pr-6 text-sm font-semibold tracking-wide text-left" mat-sort-header="assignee"><span class="index">Assignee</span></th>
        <th class="w-6 pr-6 text-sm font-semibold tracking-wide text-left" mat-sort-header="assigned"><span class="index">Assigned</span></th>
        <th class="w-16 text-sm font-semibold tracking-wide text-left" mat-sort-header="group"><span class="index">Group</span></th>
        <th class="w-2 text-sm font-semibold tracking-wide text-left" mat-sort-header="priority"><span class="index">Priority</span></th>
        <th class="w-2 text-sm font-semibold tracking-wide text-left" mat-sort-header="status"><span class="index">Status</span></th>
        <th class="w-4 text-sm font-semibold tracking-wide text-left" mat-sort-header="created"><span class="index">Created</span></th>
        <th class="w-4 text-sm font-semibold tracking-wide text-left" mat-sort-header="deadline"><span class="index">Deadline</span></th>
      </tr>

    </thead>

    <tbody>

      <ng-container *ngIf="ticketsReady">
        <tr *ngFor="let ticket of sortedTicketsArray" class="odd:bg-white even:bg-slate-200 pointer" (click)="navigateToTicket(ticket.id)">
          <td class="pt-3 pb-3 pl-10 font-bold text-blue-500 hover:underline text-left">{{ ticket.id }}</td>
          <td class="text-left pr-4  text-blue-500 hover:underline">{{ ticket.summary }}</td>
          <td class="text-left pr-6">{{ ticket.assignee }}</td>
          <!-- <td class="text-left">{{ getAssigneeName(ticket.assignee) }}</td> -->
          <td class="text-left pr-6">{{ ticket.assigned }}</td>
          <!-- <td class="text-left">{{ getAssignedName(ticket.assigned) }}</td> -->
          <td class="text-left">{{ ticket.group }}</td>
          <td class="text-left priority-td">
            <p class="p-1.5 text-xs font-medium uppercase tracking-wider priority-span
              {{ ticket.priority === 'Low' ? 'text-green-800 bg-green-200' :
                 ticket.priority === 'Medium' ? 'text-yellow-800 bg-yellow-200' :
                 ticket.priority === 'High' ? 'text-red-800 bg-red-200' : '' }}
              rounded-lg">
              {{ ticket.priority }}
            </p>
          </td>
          <td class="text-left">{{ ticket.status }}</td>
          <td class="text-left">{{ ticket.startDate }}</td>
          <td class="text-center">
            <span class="p-1.5 text-xs font-medium uppercase tracking-wider rounded-lg
                        {{getApproacingDeadline(ticket.endDate) ? 'text-yellow-800 bg-yellow-200' : ''}}
                        {{getOverdueDeadline(ticket.endDate, ticket.status) ? 'text-red-800 bg-red-200' : ''}}">
              {{ ticket.endDate }}
            </span>
          </td>

          <!-- <div *ngIf = "normalDeadline"> -->
            <!-- <td class="text-left"  *ngIf = "normalDeadline && !upcomingDeadline && !overdueDeadline">{{ getDeadline(ticket.endDate) }}</td> -->
          <!-- </div> -->
            <!-- <td class="text-left"  *ngIf = "upcomingDeadline && !normalDeadline && !overdueDeadline" style = "color: rgb(180, 168, 0);">{{ getDeadline(ticket.endDate) }}</td>

            <td class="text-left" *ngIf = "overdueDeadline && !normalDeadline && !upcomingDeadline" style = "color: rgb(239, 0, 0);">{{ getDeadline(ticket.endDate) }}</td> -->
        </tr>
      </ng-container>

    </tbody>
  </table>

  <mat-progress-bar mode="indeterminate" *ngIf="!ticketsReady && !ticketFailure"></mat-progress-bar>

  <div class="no-ticket-yet" *ngIf="sortedTicketsArray.length === 0 && inProfileOrSettings === false && isManager === true">
    <p>There are no tickets for this project currently. Add new tickets to see them here!</p>
    <button (click)="routeToNewTickets()">Add tickets</button>
  </div>
  <div class="no-ticket-yet" *ngIf="sortedTicketsArray.length === 0 && inProfileOrSettings === false && isManager === false">
    <p>There are no tickets for this project currently.</p>
  </div>
  <div class="no-ticket-yet" *ngIf="sortedTicketsArray.length === 0 && inProfileOrSettings === true">
    <p>There are no tickets currently assigned to this user</p>
    <!-- <button (click)="routeToNewTickets()">Add tickets</button> -->
  </div>

  <div class="service-down-wrapper">
    <div class="service-down" *ngIf="ticketFailure">
      <i class="fa-solid fa-circle-exclamation"></i>
      <p>The ticket service is currently unavailable</p>
    </div>
  </div>
</div>
