<div class="ticket-container">
  <table class="w-full">
    <thead class="bg-gray border-b-2 border-gray-200">

      <tr>
        <th class="w-1 pl-4 text-sm font-semibold tracking-wide text-left">ID</th>
        <th class="w-44 text-sm font-semibold tracking-wide text-left">Summary</th>
        <th class="w-6 text-sm font-semibold tracking-wide text-left">Creator</th>
        <th class="w-6 text-sm font-semibold tracking-wide text-left">Assignee</th>
        <th class="w-16 text-sm font-semibold tracking-wide text-left">Group</th>
        <th class="w-2 text-sm font-semibold tracking-wide text-center">Priority</th>
        <th class="w-2 text-sm font-semibold tracking-wide text-left">Status</th>
        <th class="w-4 text-sm font-semibold tracking-wide text-left">Created</th>
        <th class="w-4 text-sm font-semibold tracking-wide text-left">Deadline</th>
      </tr>

    </thead>

    <tbody>

      <tr *ngFor="let ticket of allTicketsArray" class="odd:bg-white even:bg-slate-200" (click)="navigateToTicket(ticket.id)">
        <td class="pt-3 pb-3 pl-4 font-bold text-blue-500 hover:underline text-left">{{ ticket.id[0] }}</td>
        <td class="text-left  text-blue-500 hover:underline">{{ ticket.summary }}</td>
        <td class="text-left">{{ ticket.assignee }}</td>
        <td class="text-left">{{ ticket.assigned }}</td>
        <td class="text-left">{{ ticket.group }}</td>
        <td class="text-center"> <span class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg">{{ ticket.priority }}</span> </td>
        <td class="text-left">{{ ticket.status }}</td>
        <td class="text-left">{{ ticket.startDate }}</td>
        <td class="text-left">{{ ticket.endDate }}</td>
      </tr>

    </tbody>
  </table>
</div>
