<div class="container">
  <h1>Initial Project</h1> <br>
  <p>All client accounts must have at least one project registered to them. Create this clients initial project here!</p>

  <div class="project-information">
    <div class="project-logo">
      <div class="hover-bg" [style.opacity]="hovered ? '1' : '0'" (mouseenter)="toggleHover()" (mouseleave)="toggleHover()"></div>
    </div>
    <input type="text" placeholder="Untitled">
  </div>

  <h2>Assigned Groups</h2> <br>

  <div class="all-groups">
    <div class="group-tab">
      <p>Backend</p>
      <i class="fa-solid fa-xmark" tabindex="0" (click)="removeGroupTab($event)" (keyup)="handleKeyupEvent($event)"></i>
    </div>

    <div class="group-tab">
      <p>Epiuse</p>
      <i class="fa-solid fa-xmark" tabindex="0" (click)="removeGroupTab($event)" (keyup)="handleKeyupEvent($event)"></i>
    </div>

    <div class="group-tab">
      <p>Service Engineering</p>
      <i class="fa-solid fa-xmark" tabindex="0" (click)="removeGroupTab($event)" (keyup)="handleKeyupEvent($event)"></i>
    </div>
  </div>

  <button class="add-btn">Add</button> <br>

  <button class="complete-btn" (click)="onCompleteClicked()">Complete</button>
  <button class="back-btn" (click)="onBackClicked()">Back</button>
</div>

