<div class="overlayContainer">
<form class="notificationsOverlay">
        <div class="notification-ui_dd-header">
            <h2 class="text-center">Notifications</h2>
        </div>
        <div class="notification-ui_dd-content">
            <div class="notification-list notification-list--unread">
                <div class="notification-list_img">
                    <img src="https://i.imgur.com/zYxDCQT.jpg" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>{{ notifications.creatorEmail }}</b> {{ notifications.notificationType }}</p>
                    <p><small>10 mins ago</small></p>
                </div>
            </div>
            <div class="notification-list notification-list--unread">
                <div class="notification-list_img">
                    <img src="https://i.imgur.com/w4Mp4ny.jpg" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>Richard Miles</b> reacted to your post</p>
                    <p><small>1 day ago</small></p>
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_img">
                    <img src="https://i.imgur.com/ltXdE4K.jpg" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>Brian Cumin</b> reacted to your post</p>
                    <p><small>1 day ago</small></p>
                </div>
            </div>
            <div class="notification-list">
                <div class="notification-list_img">
                    <img src="https://i.imgur.com/CtAQDCP.jpg" alt="user">
                </div>
                <div class="notification-list_detail">
                    <p><b>Lance Bogrol</b> reacted to your post</p>
                    <p><small>1 day ago</small></p>
                </div>
            </div>
        </div>
        <div class="notification-ui_dd-footer">
            <a href="#!" class="btn btn-success btn-block">View All</a>
        </div>
</form>
</div>
