@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.overlay-container {
    position: relative;
  }

  /* Style for the notification overlay form */
.notificationsOverlay {
    position: absolute;
    top: 3em;
    right: 2em;
    background-color: #f3f3f3;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    text-align: center;
    z-index: 9999; /* Ensure a high z-index value */
    height: 50vh;
    width: 40vw;
    max-height: 50vh;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
    cursor: initial;
}

// .notification-ui a:after {
//     display: none;
// }

// .notification-ui_icon {
//     position: relative;
// }

// .notification-ui_icon .unread-notification {
//     display: inline-block;
//     height: 7px;
//     width: 7px;
//     border-radius: 7px;
//     background-color: #66BB6A;
//     position: absolute;
//     top: 7px;
//     left: 12px;
// }

.notification-ui_dd-header {
    padding-bottom: 1em;
}

.notification-ui_dd-header h2 {
    margin-bottom: 0.3em;
}

.notification-ui_dd-content {
    max-height: 35vh;
    overflow: auto;
    cursor: pointer;
    //transition: opacity 0.3s ease-in-out;
}

// .notification-ui_dd-content.transition-active {
//     opacity: 1;
// }

// .notification-ui_dd-content:not(.transition-active) {
//     opacity: 0;
// }

/* Customize the scrollbar */
.notification-ui_dd-content::-webkit-scrollbar {
    width: 8px;
}
  
.notification-ui_dd-content::-webkit-scrollbar-thumb {
    background-color: #74ACCD;
    border-radius: 4px;
}
  
.notification-ui_dd-content::-webkit-scrollbar-track {
    background-color: #f2f2f2;
}

.notification-ui_dd-content::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #0e80b5;
}

.notification-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
    height: 2em;
  }
  
  .notification-filter button {
    background: none;
    border: none;
    font-size: 0.9em;
    padding-bottom: 1em;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease-in-out;
}

// .notification-filter button:hover {
//     background-color: rgba(116, 172, 205, 0.3);
//     color: #04538E;
//     transition-duration: 0.2s ease-in-out;
// }
  
  .notification-filter .unreadNotifications {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
  }
  
  .notification-filter .readNotifications {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
  }

  .notification-filter button.active {
    cursor: initial;
    border-bottom: 2px solid #0e80b5;
    color: #0e80b5;
  }

.notification-filter button:not(.active) {
    border-bottom: none;
    color: #000; /* Adjust the color for non-active buttons */
}
  
// .notification-list {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-pack: justify;
//     -ms-flex-pack: justify;
//     justify-content: space-between;
//     padding: 20px 0;
//     margin: 0 25px;
//     border-bottom: 1px solid #ddd;
// }

.notification-list--unread {
    position: relative;
}

.notification-list--unread:before {
    content: "";
    position: absolute;
    top: 0;
    left: -25px;
    height: calc(100% + 1px);
    border-left: 2px solid #0e80b5;
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    align-items: center;
    padding: 1em 25px 0.5em;
    border-bottom: 1px solid #ddd;
    border-radius: 0.5em;
}

.notification-list:hover {
    background: rgba(116, 172, 205, 0.3);
    background-clip: padding-box, margin-box;
    transition-duration: 0.2s;
}

.notification-list .notification-list_img {
    flex: 0 0 auto; 
    height: 3em;
    width: 3em;
    border-radius: 50px;
    margin-right: 20px;

    img {
        width: 100%;
        height: 100%;
    }
}

.notification-list .notification-list_detail {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification-list .notification-list_detail p {
    margin-top: auto; 
}

.notification-list .notification-list_detail .Summary {
    margin-top: auto; 
    font-size: medium;
    color: #04538E;
}

.notification-list .notification-list_feature-img img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-left: 20px;
}