 <td class="w-1 pt-3 pb-3 pl-4 font-bold text-blue-500 hover:underline text-left">{{ ticket.id[0] }}</td>
<td class="w-44 text-left">{{ ticket.summary }}</td>
<td class="w-6 text-left">{{ ticket.assignee }}</td>
<td class="w-6 text-left">{{ ticket.assigned }}</td>
<td class="w-16 text-left">{{ ticket.group }}</td>
<td class="w-2 text-center"> <span class="p-1.5 text-xs font-medium uppercase tracking-wider text-green-800 bg-green-200 rounded-lg">{{ ticket.priority }}</span> </td>
<td class="w-2 text-left">{{ ticket.status }}</td>
<td class="w-4 text-left">{{ ticket.startDate }}</td>
<td class="w-4 text-left">{{ ticket.endDate }}</td>

