<div class="ticket-container">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Summary</th>
        <th>Creator</th>
        <th>Assignee</th>
        <th>Group</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Created</th>
        <th>Deadline</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Update UI for system</td>
        <td>John</td>
        <td>Liam</td>
        <td>Lemur Squad</td>
        <td>High</td>
        <td>New</td>
        <td>25/03/2023</td>
        <td>01/04/2023</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Complete API calls</td>
        <td>Chris</td>
        <td>Simon</td>
        <td>Lemur Squad</td>
        <td>Medium</td>
        <td>Active</td>
        <td>25/03/2023</td>
        <td>01/04/2023</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Complete Tests</td>
        <td>Tash</td>
        <td>Mike</td>
        <td>Cat Team</td>
        <td>Low</td>
        <td>Done</td>
        <td>25/03/2023</td>
        <td>01/04/2023</td>
      </tr>
    </tbody>
  </table>
</div>
