.group-card {
  width: calc(100% - 40px);
  height: 200px;
  margin: 20px;
  border-radius: 15px;
  background-color: #fefefe;
  border: 1px solid #ccc;
  overflow: hidden;
  width: 200px;
}

.group-image img {
  width: 100%;
  object-fit: cover;
  height: 100px;
}

.group-details {
  text-align: center;
  padding-top: 10px;
}

.group-details h2 {
  font-size: 18px;
  margin: 0;
}

.group-details a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: blue;
}

.group-card-selected {
  border: 1px solid blue;
}

.view-stats {
  color: black;
  transition: color 0.5s ease;
  cursor: pointer;
}

.view-stats:hover {
  color: blue;
  text-decoration: underline;
}

.pointer{
  cursor: pointer;
}

