<div class="container">
  <h1>Edit Project</h1> <br>

  <div class="project-information">
    <div class="project-logo" [class]="this.projectImageColor" (click)="toggleLogosOverlay()" tabindex="0" (keydown)="toggleLogosOverlay()">
      <!-- <div class="hover-bg" [style.opacity]="hovered ? '1' : '0'" (mouseenter)="toggleHover()" (mouseleave)="toggleHover()"></div> -->
      <img [src]="this.projectImageUrl" alt="projectLogo">

      <div class="image-select-outer-wrapper grid grid-cols-3 gap-y-4" *ngIf="isLogosOverlayOpen">
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/camera.png" alt="select-logo" class="orange-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/coffee-cup.png" alt="select-logo" class="cyan-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/computer.png" alt="select-logo" class="yellow-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/eight.png" alt="select-logo" class="grey-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/flask.png" alt="select-logo" class="purple-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/hotdog.png" alt="select-logo" class="green-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/laptop.png" alt="select-logo" class="blue-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/notebook.png" alt="select-logo" class="pink-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/smartphone.png" alt="select-logo" class="yellow-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/vynil.png" alt="select-logo" class="orange-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/wallet.png" alt="select-logo" class="cyan-cl">
          </button>
        </div>
        <div class="image-select">
          <button (click)="setProjectLogo($event)">
            <img src="../../assets/project-logos/web-design.png" alt="select-logo" class="purple-cl">
          </button>
        </div>
      </div>
    </div>
    <h2>{{ this.projectToEdit.name }}</h2>
  </div>

  <table class="w-full table-fixed">
    <thead>
      <tr>
        <th class="w-1/12 py-2 text-left">ID</th>
        <th class="w-5/12 py-2 text-left">Summary</th>
        <th class="w-3/12 py-2 text-center">Action</th>
        <th class="w-3/12 py-2 text-right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of allTickets">
        <td class="py-2"> {{ ticket.id }} </td>
        <td class="py-2"> {{ ticket.summary }} </td>
        <td class="py-2 underline text-sky-600 text-center">
          <button class="underline" (click)="viewTicketDetails(ticket.id)">View Details</button>
        </td>
        <td class="py-2 underline text-red-600 text-right">Remove</td>
      </tr>
      <!-- <tr>
        <td class="py-2">71</td>
        <td class="py-2">Complete tests</td>
        <td class="py-2 underline text-sky-600 text-center">View Details</td>
        <td class="py-2 underline text-red-600 text-right">Remove</td>
      </tr> -->
    </tbody>
  </table>

  <button class="add-btn">Add</button> <br>

  <h3>Assigned Groups</h3>

  <div class="all-groups">
    <div class="group-tab" *ngFor="let group of selectedGroups; let i = index">
      <p>{{ group.groupName }}</p>
      <i class="fa-solid fa-xmark" [tabindex]="i" (click)="removeGroupTab($event, i)" (keyup)="handleKeyupEvent($event)"></i>
    </div>

    <div class="no-groups-selected" *ngIf="!groupSelected">
      <p>No Groups Selected</p>
      <button class="add-btn-for-group" (click)="toggleAddGroupOverlay()" type="button">
        <i class="fa-solid fa-plus"></i>
      </button>
    </div>

    <button class="add-btn-for-group" (click)="toggleAddGroupOverlay()" type="button" *ngIf="groupSelected">
      <i class="fa-solid fa-plus"></i>
    </button>
  </div>

  <h3>Priority Times</h3>
  <div class="priority-section">
    <div class="priority-text">
      <div class = "priority-text-align">
        <p>What does priority mean to you?</p>
        <p class = "smaller-text"> Use the format: 2w 4d 6h 45m </p>
        <p class = "smaller-text"> • w = weeks </p>
        <p class = "smaller-text">  • d = days </p>
        <p class = "smaller-text">  • h = hours </p>
        <p class = "smaller-text">  • m = minutes </p>
        <!-- <i class="fa-solid fa-question"></i> -->
      </div>
      <div class = "priority-low">
        <div class = "low-container">
          <p class="text-low">
            LOW
          </p>
        </div>

        <input class="low-input" type="text" placeholder="{{currLow}}" [(ngModel)]="lowPriority" style="outline: none;">
      </div>

      <div class = "priority-medium">
        <div class = "medium-container">
          <p class="medium-low">
            MEDIUM
          </p>
        </div>

        <input class="medium-input" type="text" placeholder="{{currMed}}" [(ngModel)]="mediumPriority" style="outline: none;">
      </div>

      <div class = "priority-high">
        <div class = "high-container">
          <p class="high-low">
            HIGH
          </p>
        </div>

        <input class="high-input" type="text" placeholder="{{currHigh}}" [(ngModel)]="highPriority" style="outline: none;">
      </div>

    </div>
  </div>
  <br>
  <p *ngIf="groupNumberError" class="errorTxt"> <sup>*</sup> Need to select at least 1 group</p>

  <button class="complete-btn" (click)="onUpdateAndBack()">Update</button>
  <button class="back-btn" (click)="onBackClicked()">Back</button>

  <div class="group-overlay" *ngIf="isAddGroupOverlayOpened">
    <div class="group-overlay-inner-wrapper">
      <h1>Search by Group Name</h1>
      <input type="text"
        placeholder="Group Name"
        aria-label="Group Name"
        matInput
        [formControl]="groupControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" color="primary">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
        </mat-option>
      </mat-autocomplete>

      <button class="add-group-btn" (click)="addGroup()">Add Group</button>
      <button class="cancel-btn" (click)="toggleAddGroupOverlay()">Cancel</button>
    </div>
  </div>
</div>
