<div class="select-menu">
  <div class="select-btn" tabindex="0" (click)="toggleDropDown()" (keyup)="toggleDropDown()">
    <div class="content">
      <div *ngIf="selectedOption" class="user-img"></div>
      <span *ngIf="!selectedOption" class="sBtn-text">Select your options</span>
      <span *ngIf="selectedOption" class="sBtn-text">{{ selectedOption }}</span>
    </div>
    <i class="fa-solid fa-chevron-down"></i>
  </div>

  <div *ngIf="isDropDownOpen" class="close-options" tabindex="0" (click)="toggleDropDown()" (keyup)="toggleDropDown()"></div>

  <ul class="options" *ngIf="isDropDownOpen">
    <li *ngFor="let user of loadedUsers" class="option" tabindex="..." (click) = "selectOption(optionText1.textContent)" (keyup) = "selectOption(optionText1.textContent)">
      <div class="user-img">
        <img src = {{user.profilePhoto}} alt = "user-profile-pic">
      </div>
      <span class="option-text" #optionText1 >{{ user.name }}</span>
    </li>
  </ul>

</div>
