.select-menu {
  width: 100%;
  position: relative;

  .select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2em;
    padding: 2em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,0.1);

    i{
      font-size: 0.5em;
    }
  }

  .options::-webkit-scrollbar {
    display: none;
  }

  .close-options{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    // pointer-events: none;
  }

  .options{
    padding: 0.5em;
    border-radius: 0.3em;
    border-bottom: 30px;
    background-color: rgb(249, 251, 252);
    margin-top: 0.5em;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    width: 100%;
    max-height: 135px;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    .option {
      display: flex;
      height: 55px;
      cursor: pointer;
      align-items: center;
      padding: 0 0.5em;
      border-radius: 0.3em;
      background-color: rgb(249, 251, 252);

      button {
        display: flex;
        align-items: center;

        .option-text {
          font-size: 1.1em;
        }
      }
    }

    .option:hover{
      background-color: rgb(219, 221, 223);
    }
  }
}

.user-img {
  width: 3em;
  height: 3em;
  margin-right: 1em;
  overflow: hidden;
  // img {
    border-radius: 50%;
  // }
}

.content {
  display: flex;
  align-items: center;
}

.assigned-change {
  border-top: 90px;
}

.rounded-button {
  background: linear-gradient(147deg, rgba(4,83,142,1) 0%, rgba(0,196,255,0.7) 150%) !important;
  padding: 1em;
  // border-left: 50%;
  border-radius: 1em;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  margin: 1em;
}

