<div class="container">
  <h1>Client Accounts</h1> <br>

  <table class="w-full table-fixed">
    <thead>
      <tr>
        <th class="w-1/5 py-2 text-left">Name</th>
        <th class="w-1/5 py-2 text-left">Surname</th>
        <th class="w-2/5 py-2 text-left">Email</th>
        <th class="w-1/5 py-2 text-right">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of allClients">
        <td class="py-2">{{ client.name }}</td>
        <td class="py-2">{{ client.surname }}</td>
        <td class="py-2">{{ client.email }}</td>
        <td class="py-2 text-red-600 text-right">
          <button class="underline">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="add-btn">Add</button> <br>

  <h2>Projects</h2>

  <table class="w-full table-fixed">
    <thead>
      <tr>
        <th class="w-1/5 py-2 text-left"></th>
        <th class="w-3/5 py-2 text-left">Project Name</th>
        <th class="w-1/5 py-2 text-center">Action</th>
        <th class="w-1/5 py-2 text-right">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of allProjects" (click)="showAssignedGroups(project)" class="project-row">
        <td class="py-2">
          <div class="project-logo" [class]="project.color">
            <img [src]="project.logo" alt="poject-logo">
          </div>
        </td>
        <td class="py-2">{{ project.name }}</td>
        <td class="py-2 text-sky-600 text-center">
          <button class="underline" (click)="onEditClicked(this.selectedClient, project)">Edit</button>
        </td>
        <td class="py-2 text-red-600 text-right">
          <button class="underline">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>

  <button class="add-btn">Add</button> <br>

  <button class="complete-btn" (click)="onCompleteClicked()">Complete</button>
  <button class="back-btn" (click)="onBackClicked()">Back</button>
</div>
