.ticket-container {
  background-color: #f3f3f3;
  border-radius: 1px;
  padding: 20px;
  width: 95%;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 15px;
}

.ticket-table {
  width: 98%;
  border-collapse: separate;
  border-spacing: 0 15px;
  font-size: 25px;
  background-color: #ffffff;
  border-radius: 0px;
  margin-left: 11px;
  margin: 10px;
}

.ticket-row {
  border-radius: 15px;
  padding: 40px;
}

.card {
  all: unset;
  display: inline-block;
}

.ticket-link {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.assignee img {
  // height: 40px;
  // width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.card-priority-high::before {
  content: "⬆";
  margin-right: 5px;
}

.card-status {
  display: inline-block;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 5px;
}

.deadline {
  font-weight: bold;
}
