<style>

.card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-priority-high {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #ff0606;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-priority-med {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #f17501;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-priority-low {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #faf603;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-status-completed {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #01bb20d7;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
        </style>
    <table>
            <tbody>
                  <tr>
                      <td>
                        <a class="card" target="_blank" href="#"><span>1</span></a>
                      </td>
                      <td>
                        <a class="card" target="_blank" href="#"><span>Update UI and bug fixes</span></a>
                      </td>
                      <td>
                        <a class="card" target="_blank" href="#"><span>Jesse</span></a>
                      </td>
                      <td>
                        <a class="card" target="_blank" href="#"><span>Jaimen</span></a>
                      </td>
                      <td>
                        <a class="card" target="_blank" href="#"><span>Hyperion Tech</span></a>
                      </td>
                      <td>
                        <a class="card-priority-high" target="_blank" href="#"><span>High</span></a>
                      </td>
                      <td>
                        <a class="card" target="_blank" href="#"><span>19/05/2023</span></a>
                      </td>
                      <td>
                        <a class="card" target="_blank" href="#"><span>23/05/2023</span></a>
                      </td>
                      <td>
                        <a class="card-status-completed" target="_blank" href="#"><span>Completed</span></a>
                      </td>
                    </tr>
            </tbody>
    </table>
    