<!-- <tr>
    <td><a [ngClass]="getCardClass(ticket.priority)" target="_blank" href="#">{{ ticket?.id }}</a></td>
    <td><a [ngClass]="getCardClass(ticket.priority)" target="_blank" href="#">{{ ticket?.title }}</a></td>
    <td><a [ngClass]="getCardClass(ticket.priority)" target="_blank" href="#">{{ ticket?.assignedTo }}</a></td>
    <td><a [ngClass]="getCardClass(ticket.priority)" target="_blank" href="#">{{ ticket?.createdBy }}</a></td>
    <td><a [ngClass]="getCardClass(ticket.priority)" target="_blank" href="#">{{ ticket?.company }}</a></td>
    <td><a [ngClass]="getCardClass(ticket.priority)" target="_blank" href="#">{{ ticket?.priority }}</a></td>
    <td><a [ngClass]="getCardClass(ticket.priority)" target="_blank" href="#">{{ ticket?.startDate }}</a></td>
    <td><a [ngClass]="getCardClass(ticket.priority)" target="_blank" href="#">{{ ticket?.endDate }}</a></td>
    <td><a [ngClass]="getCardClass(ticket.priority)" target="_blank" href="#">{{ ticket?.status }}</a></td>
</tr>
   -->

   <div class="card">
    <span>Dash</span>
    <span>Dash</span>
    <span>Dash</span>
    <span>Dash</span>
    <span>Dash</span>
    <span>Dash</span>
    <span>Dash</span>
    <span>Dash</span>
    <span>Dash</span>
  </div>