<div class = "ticket-container">
  <table class="ticket-table">
    <tbody>
      <tr *ngFor="let ticket of tickets" class="ticket-row">
        <td>
          <a class="card" [routerLink]="['/ticket', ticket.id]"><span>{{ticket.id}}</span></a>
        </td>
        <td>
          <a class="card" [routerLink]="['/ticket', ticket.id]"><span>{{ticket.title}}</span></a>
        </td>
        <td class = "assignee">
          <img src="assets/profile-icon.png" alt="Profile icon">
          <a class="card" [routerLink]="['/ticket', ticket.id]"><span>{{ticket.assignee}}</span></a>
        </td>
        <td>
          <a class="card" [routerLink]="['/ticket', ticket.id]"><span>{{ticket.reviewer}}</span></a>
        </td>
        <td>
          <a class="card" [routerLink]="['/ticket', ticket.id]"><span>{{ticket.company}}</span></a>
        </td>
        <td>
          <a class="card-priority-high" [routerLink]="['/ticket', ticket.id]"><span>{{ticket.priority}}</span></a>
        </td>
        <td>
          <a class="card" [routerLink]="['/ticket', ticket.id]"><span>{{ticket.startDate}}</span></a>
        </td>
        <td>
          <a class="card" [routerLink]="['/ticket', ticket.id]"><span>{{ticket.endDate}}</span></a>
        </td>
        <td>
          <a class="card" [routerLink]="['/ticket', ticket.id]"><span>{{ticket.status}}</span></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
