<!-- <app-dash-panel (openForm)="openNewTicketForm()" [tickets]="tickets"></app-dash-panel> -->

<div class="create-account-container {{this.navbarIsCollapsed === true ? 'widen' : ''}}">

  <mat-form-field>
    <mat-select [(value)]="selected" class="header-label" (selectionChange)="onSelectionChange()">
      <mat-option value="client">Client</mat-option>
      <mat-option value="internal">Internal</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="content-area">
    <div class="img">
      <img src="../../assets/client_background.png" alt="background">
    </div>

    <div class="content" *ngIf="selected === 'client'">
      <app-client-account-page1 (manageAccountClicked)="incrementClientStageManage()" (createAccountClicked)="incrementClientStage()" *ngIf="clientStage === 0"></app-client-account-page1>
      <app-client-account-page2 (continueClicked)="incrementClientStage()" (backClicked)="setClientStage($event)" (formSubmitted)="getFormValues($event)" [selectedOrganisation]="this.selectedOrganisation" *ngIf="clientStage === 1"></app-client-account-page2>
      <app-client-account-page3 (completeClicked)="incrementClientStage()" (backClicked)="setClientStage($event)" (clientCreated)="getCreatedClient($event)" [formData]="recievedFormData" *ngIf="clientStage === 2" [selectedOrganisation]="this.selectedOrganisationForProject"></app-client-account-page3>
      <app-client-account-page4 *ngIf="clientStage === 3" [createdClient]="recievedCreatedClient"></app-client-account-page4>

      <app-client-manage-page1 (continueClicked)="incrementClientStage()" (backClicked)="decrementClientStageManage()" (selectedClient)="getSelectedClient($event)" *ngIf="clientStage === 4"></app-client-manage-page1>
      <app-client-manage-page2 (completeClicked)="decrementClientStageManage()" (backClicked)="decrementClientStage()" (editClicked)="incrementClientStageAndReceiveEmit($event)" [selectedClient]="managingClient" *ngIf="clientStage === 5"></app-client-manage-page2>
      <app-client-manage-page3 (backClicked)="decrementClientStage()" *ngIf="clientStage === 6" [projectToEdit]="projectToEdit"></app-client-manage-page3>
    </div>

    <div class="content" *ngIf="selected === 'internal'">
      <app-internal-account-page1 (userCreated)="getCreatedUser($event)" *ngIf="internalStage === 0"></app-internal-account-page1>
      <app-internal-account-page2 [createdUser]="recievedCreatedUser" *ngIf="internalStage === 1"></app-internal-account-page2>
    </div>
  </div>
</div>

<!-- <app-page-header></app-page-header> -->
