<div class="container">
  <h1>Edit Client Information</h1> <br>
  <p>Choose a client to edit their information.</p>

  <div class="select-btn">
    <span class="sBtn-text">Select your options</span>
    <i class="fa-solid fa-chevron-down"></i>
  </div>

  <ul class="options">
    <li class="option">
        <div class="user-img"></div>
        <span class="option-text" #optionText1>Epi-Use Africa</span>
    </li>

    <li class="option">
      <div class="user-img"></div>
      <span class="option-text" #optionText2>Johns Carpets</span>
    </li>

    <li class="option" tabindex="3">
      <div class="user-img"></div>
      <span class="option-text" #optionText3>Sam's Works</span>
    </li>
  </ul>
</div>
