.search-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin-left: 1em;
  margin-bottom: 2em;
}

.search-input {
  padding: 20px;
  font-size: 16px;
  border: 1px solid black;
  border-right: none;
  border-radius: 10px 0 0 10px;
  outline: none;
  width: 200px;
}

.search-button {
  padding: 20px;
  border: 1px solid black;
  border-left: none;
  background: #f3f3f3;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  outline: none;
}

.search-button img {
  width: 20px;
  height: 20px;
}
