<div class="search-container">
  <input type="text" placeholder="Search by ID..." [(ngModel)]="searchTerm" class="search-input">
  <button (click)="searchTicket()" class="search-button">
    <img src="/assets/search-icon.png" alt="search" >
  </button>
</div>

<button (click)=openNewTicketForm() class="add-ticket-button">Add new ticket</button>

<app-ticket-item [tickets]="filteredTickets"></app-ticket-item>

<app-new-ticket-form *ngIf="showForm" (newTicketEvent)="addNewTicket($event)" (closeForm)="closeForm()"></app-new-ticket-form>


