<div class="sidelogin">
  <div class="logoName">
    <ion-router-outlet></ion-router-outlet>
    <img class="img-fluid">
    <br>
    <span><h3>Software Name</h3></span>
  </div>

  <div class="loginDescription">
    <h1>Log in</h1>
    <a>Welcome back! Effortlessly streamline your requests with "Software"</a>
  </div>

  <div class="loginDetails">
    <label>Email</label><br>
    <input type="email" id="email" name="email">
    <br>
    <label>Password</label><br>
    <input type="password" id="pwd" name="pwd">
  </div>

  <div class="keepLogin">
    <input type="checkbox" id="kLogin" name="kLogin" value="kLogin">
    <label for="kLogin"> Keep me logged in</label>
  </div>


</div>
