@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.remove-user-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .remove-user-overlay-inner-wrapper {
    background-color: #be123c;
    width: 30%;
    padding: 2em;
    border-radius: 0.3em;

    h3{
      font-family: 'Poppins';
      font-size: 1.8em;
      font-weight: bolder;
      color: rgb(249, 251, 252);
    }

    p {
      color: #fb7185;
    }

    .important-white {
      color: rgb(249, 251, 252) !important;
    }

    .remove-user-btn {
      font-family: 'Poppins';
      font-size: 1em;
      background-color: #e11d48;
      padding: 0.8em;
      border-radius: 0.3em;
      margin-top: 1em;
      min-width: 10em;
      color: rgb(249, 251, 252);
    }

    .cancel-remove-user-btn {
      font-family: 'Poppins';
      font-size: 1em;
      background-color: rgb(249, 251, 252);
      padding: 0.8em;
      border-radius: 0.3em;
      margin-top: 1em;
      min-width: 10em;
      color: #e11d48;
      margin-left: 1.2em;
    }
  }
}

.remove-group-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  .remove-group-overlay-inner-wrapper {
    background-color: #be123c;
    width: 40%;
    padding: 2em;
    border-radius: 0.3em;

    h3{
      font-family: 'Poppins';
      font-size: 1.8em;
      font-weight: bolder;
      color: rgb(249, 251, 252);
    }

    p {
      color: #fb7185;
    }

    .important-white {
      color: rgb(249, 251, 252) !important;
    }

    .remove-group-btn {
      font-family: 'Poppins';
      font-size: 1em;
      background-color: #e11d48;
      padding: 0.8em;
      border-radius: 0.3em;
      margin-top: 1em;
      min-width: 10em;
      color: rgb(249, 251, 252);
    }

    .cancel-remove-group-btn {
      font-family: 'Poppins';
      font-size: 1em;
      background-color: rgb(249, 251, 252);
      padding: 0.8em;
      border-radius: 0.3em;
      margin-top: 1em;
      min-width: 10em;
      color: #e11d48;
      margin-left: 1.2em;
    }
  }
}


.teams-page-container {
  width: 100%;
  margin-top: 60px;
  width: 82%;
  float: right;
  padding: 0 15px;
  font-family: 'Poppins', sans-serif;
  transition: all 300ms;


  .functional-table{
    // background-color: red;
    width:82vw;
    float: left;
    margin-left: -15px;


    animation: fadeIn 2s;
  }

  .section-header {
    // padding: 1em;
    border-radius: 15px;
    margin-left: 17px;
    // background-color: #494545;
    // color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    // margin-left:3px;
    color:gray;
  }

  .section-header-2 {
    // padding: 1em;
    border-radius: 15px;
    margin-left: 2px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color:gray;
    margin-bottom: 5px;
    // background-color: #494545;
    // color: white;
  }

  .bubble-container {
    border: 1px solid #494545;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
  }

  .group-row, .user-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    border-color: #494545;
  }
}

.empty-state {
  font-size: 20px;
  // width: 550px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    width: 50px;
    height: 50px;
    margin-left: 720px;
  }
  p {
    margin-bottom: 30px;
  }
}

.management-teams-page-container {
  width: 100%;
  margin-top: 60px;
  width: 82%;
  float: right;
  // padding: 0 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
  transition: all 300ms;

  animation: fadeIn 2s;
}

.pointer:hover{
  cursor: pointer;
}
