@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.teams-page-container {
  width: 100%;
  margin-top: 60px;
  width: 82%;
  float: right;
  padding: 0 15px;
  font-family: 'Poppins', sans-serif;
  

  .functional-table{
    // background-color: red;
    width:82vw;
    float: left;
    margin-left: -15px;


    animation: fadeIn 2s;
  }

  .section-header {
    // padding: 1em;
    border-radius: 15px;
    // background-color: #494545;
    // color: white;
  }

  .bubble-container {
    border: 1px solid #494545;
    border-radius: 15px;
    margin: 20px 0;
    padding: 20px;
  }

  .group-row, .user-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 15px;
    overflow: hidden;
    padding-bottom: 20px;
    border-color: #494545;
  }
}

.empty-state {
  font-size: 20px;
  // width: 550px;
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  img {
    width: 50px;
    height: 50px;
    margin-left: 720px;
  }
  p {
    margin-bottom: 30px;
  }
}

.management-teams-page-container {
  width: 100%;
  margin-top: 60px;
  width: 82%;
  float: right;
  // padding: 0 15px;
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;

  animation: fadeIn 2s;
}

.pointer:hover{
  cursor: pointer;
}