<app-dash-panel> </app-dash-panel>

<div class="teams-page-container" *ngIf="!authService.isManager()">
  <app-page-header></app-page-header>

  <h2 class="section-header">My Groups</h2>
  <div class="bubble-container">
    <div class="group-row">
      <app-group-tablet *ngFor="let group of groups" [group]="group" [selectedGroup]="selectedGroup" (click)="selectGroup(group)"></app-group-tablet>
    </div>
  </div>

  <h2 class="section-header">Team Members</h2>
  <div class="bubble-container">
    <div class="user-row">
      <app-user-tablet *ngFor="let user of users" [user]="user" [userImages]="userImages"></app-user-tablet>
    </div>
  </div>
</div>

<div class = "management-teams-page-container" *ngIf="authService.isManager()">
  <app-groups-search-bar (groupSelected)="onGroupSelected($event)" (filterChanged)="handleFilterChange($event)" [openAddPeopleDialogEvent]="openAddPeopleDialog"></app-groups-search-bar>

  <app-page-header></app-page-header>
  <table class="w-full">
    <thead class="bg-gray border-b-2 border-gray-200">
      <tr>
        <th class="w-6 pl-4 text-sm font-semibold tracking-wide text-left">Name</th>
        <th class="w-6 text-sm font-semibold tracking-wide text-left">Surname</th>
        <th class="w-6 text-sm font-semibold tracking-wide text-left">Email</th>
        <th class="w-6 text-sm font-semibold tracking-wide text-left">Role</th>
        <th class="w-6 text-sm font-semibold tracking-wide text-left">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="filterValue === 'group' && !groupId">
        <td colspan="5" class="text-center py-4">
          <div class="empty-state">
            <p>Please select a group</p>
          </div>
        </td>
      </tr>
      <tr *ngIf="users.length === 0 && groupId">
        <td colspan="5" class="text-center py-4">
          <div class="empty-state">
            <p>No users in this group</p>
            <img src="../../assets/add.png" alt="plus-icon" (click)="onOpenAddPeopleDialog()" (keyup.enter)="onOpenAddPeopleDialog()" tabindex="0" class="cursor-pointer">
          </div>
        </td>
      </tr>

        <tr *ngFor="let user of users" class="odd:bg-white even:bg-slate-200">
          <td class="pt-3 pb-3 pl-4 text-left">{{user.name}}</td>
          <td class="text-left">{{user.surname}}</td>
          <td class="text-left">{{user.emailAddress}}</td>
          <td class="text-left">{{user.roles}}</td>
          <td
            class="{{ getActionClasses() }}"
            tabindex="0"
            (click)="filterValue === 'all' ? viewProfile(user) : removeUser(user)"
            (keyup.enter)="filterValue === 'all' ? viewProfile(user) : removeUser(user)"
            >
            {{ getActionText() }}
          </td>
        </tr>
    </tbody>
  </table>
</div>
