<div class="sidenav">
    <app-page-header></app-page-header>
    <!-- <app-dash-panel></app-dash-panel> -->

<div class = "sidenav1">
    <div class="nav-items">
        <button routerLink="/settings" class="view-general">General</button>
        <button routerLink="/settings-notifications" class="view-Notifications">Notifications</button>
        <button routerLink="/settings-profile" class="view-Profile">Profile</button>
        <button class="view-S&P">Privacy</button>
    </div>
</div>
</div>

