<div class="overlayContainer">
    <form class="profileOverlay">
            <div class="profileOverlayHeader">
                <h2 class="text-center">Account</h2>
            </div>
            <div class="profileOverlayContent">
                <div class="Account">
                    <img src="/assets/profile-icon.png" alt="ProfilePic">
                    <div class="accountDetail">
                        <p><b>John Smith</b></p>
                        <p><small>johnsmith@gmail.com</small></p>
                    </div>
                </div>

                <div class="Settings">
                    <p>Settings</p>
                    <img src="/assets/edit.png" alt="settings">
                </div>

                <div class="Logout" routerLink="/">
                    <p>Log Out</p>
                    <img src="/assets/Logout_Hover.png" alt="logout">
                </div>
            </div>
    </form>
</div>
