<div class="panel">
    <app-settings></app-settings>
</div>
<div class="options">
    <div class= "container">
        <h1>Email</h1>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
    </div>
    
    <div class= "container">
        <h1>Desktop</h1>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
    </div>
    <div class= "container">
        <h1>Sound</h1>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
    </div>

    <div class= "container">
        <h1>New Ticket</h1>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
    </div>

    <div class= "container">
        <h1>Ticket-Updates</h1>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
    </div>

    <div class= "container">
        <h1>Messages</h1>
            <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
            </label>
    </div>

</div>

<app-page-header></app-page-header>

