<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="header-container">
  <div routerLink="/dashboard" class="logo-container">
    <img src="/assets/App Logo PNG.png" alt="Logo">
    <h1>LUNA</h1>
  </div>

  <div class="header-container-right">
    <div class="privilege" style="display: contents">
      <p>Account: <b>Management</b></p>
    </div>

    <div class="notifications">
      <mat-icon [matBadge]="unreadNotificationsCount" matBadgeColor="primary" matBadgeSize="small" (click)="openNotifications()">mail_outline</mat-icon>
      <app-notifications-panel *ngIf="showNotificationsForm" (notificationsPanelEvent)="openNotifications()" (closeForm)="closeForms()"></app-notifications-panel>
    </div>
    
    <div class="profile-photo">
      <img src="/assets/profile-icon.png" alt="ProfilePic" (click)="openProfile()">
      <app-profile-overlay *ngIf="showProfileForm" (profileOverlayEvent)="openProfile()" (closeform)="closeForms()"></app-profile-overlay>
    </div>
    

    <div class="log-out">
      <img routerLink="/" src="/assets/Logout.png" alt="Logout">
    </div>
  </div>
</div>

<!-- <app-dash-panel></app-dash-panel> -->
