@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/futura-pt');

*, html, body{
  margin: 0;
  padding: 0;
}

.header-container{
  width: 100vw;
  height: 50px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid rgba(0,0,0,0.5);
  margin-bottom: 0;
  position: fixed;
  top: 0;
  left: 0;
}

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: 2em;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 0px;
}

.logo-container h1 {
  display: inline-block;
  inline-size: min-content;
  font-family: "Futura Pt", sans-serif;
  font-size: 40px;
  background: -webkit-linear-gradient(left, #04538E 30%, #00C4FF 80%, #fff 120%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  font-weight: 500;
}

.logo-container img {
  width: 3em;
  height: 3em;
  margin-right: 10px;
  margin-bottom: 0px;
}

.header-container-right {
  display: flex;
  float: right;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  width: 40%;
}

// .header-container-right div {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   height: 50px;
//   width: 3em;
//   border-radius: 0.3em;
// }

.header-container-right div:hover {
  background-color: rgba(116, 172, 205, 0.3);
  transition: 0.3s ease-in-out;
}

.notifications {
  transform: translateY(0.3em);
}

.profile-photo{
  min-width: 2em;
  min-height: 2em;
  max-width: 2em;
  max-height: 2em;
  border-radius: 50%;
  overflow: hidden;
  justify-self: flex-end !important;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100%;
    object-fit: cover;
  }
  margin-right: 2em;
  cursor: pointer;
}

.notifications {
  cursor: pointer;
}

.search {
  cursor: pointer;
}

.privilege p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin-right: 1em;
}

/*.mat-badge-content-0 .mat-badge-content .mat-badge-active {
  background-color: #00A7DA !important;
  color: #00A7DA !important;
}*/
