<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="header-container">
  <div routerLink="/dashboard" class="logo-container">
    <img src="/assets/App Logo PNG.png" alt="Logo">
    <h1>LUNA</h1>
  </div>

  <div class="header-container-right">
    <div class="privilege" style="display: contents">
      <p>Account: <b>{{ roles }}</b></p>
    </div>

    <div class="search" (click)="openPdf()">
      <i class="fa-solid fa-question" style="color: #000000;"></i>
    </div>

    <div class="search" (click)="navigateToSearch()">
      <i class="fa-solid fa-magnifying-glass" style="color: #000000;" ></i>
    </div>

    <div class="notifications" (click)="openNotifications()">
      <mat-icon [matBadge]="unreadNotificationsCount" matBadgeColor="primary" matBadgeSize="small">notifications</mat-icon>
      <app-notifications-panel *ngIf="showNotificationsForm" (notificationsPanelEvent)="openNotifications()" (closeForm)="closeForms()"></app-notifications-panel>
    </div>

    <div class="profile-photo" (click)="openProfile()">
      <img src="{{ userPic }}" alt="ProfilePic">
      <app-profile-overlay *ngIf="showProfileForm" (profileOverlayEvent)="openProfile()" (closeform)="closeForms()"></app-profile-overlay>
    </div>
  </div>
</div>
<!-- <app-dash-panel></app-dash-panel> -->
