<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="login-container">
  <img src="/assets/client_background.svg" alt="background image" class="background-img">

  <div class="login-outer-container">
    <div class="login-inner-container">
      <div class="logo-header">
        <img src="/assets/app_logo_transparent.png" alt="app logo">
        <h1>LUNA</h1>
      </div>

      <div class="form-area">
        <h1>Log in</h1>
        <p>Welcome back! Effortlessly streamline your service requests with Luna</p>

        <!-- eslint-disable-next-line @angular-eslint/template/interactive-supports-focus -->
        <form class="loginDetails" (keyup.enter)="loginUser()">
          <label for="email"><strong>Email</strong></label> <br>
          <input type="email" id="email" name="email" placeholder="example@domain.com" class="form-control" [(ngModel)]="email" required><br>
          <br>

          <label for="pwd"><strong>Password</strong></label> <br>
          <input type="password" id="pwd" name="pwd" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" class="form-control" [(ngModel)]="password" required><br>
          <br>


          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

          <div class="loginButton">
          <!-- <button type="button" class="btn">Log in <mat-spinner style="margin:0em 0.6em;" [diameter]="20"></mat-spinner></button> -->
          <button type="button" class="btn" (click)="loginUser()">Log in <mat-spinner style="margin:0em 0.6em;" [diameter]="20" *ngIf="logInClicked"></mat-spinner></button>

          </div>

          <div class = "client-login-text">
            <p (click) = "routeToLogin()">Go to Internal Portal</p>
          </div>

          <!-- <p class="or">OR</p> -->

          <div class="googleLogin">
            <!-- <button type="gbutton" class="gbtn"><img src="/assets/google-logo.png" alt="google">Continue with Google</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
