@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.app-container {
  display: flex;
  width: 82%;
  float: right;
  transition: all 300ms;
}


.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.analytics-page {
  flex-grow: 1;
}

.analytics-content {
  font-family: "Poppins", sans-serif;
}

.dropdown-container {
  margin-left: 2em;
  // margin-top: 25px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  position: relative;
  align-items: center;
  // width: 95%;
}

select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 97% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 8px;
  width: 40%;
  outline: none;
}


.dropdown-container label {
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.dropdown-container select {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #333;
  // border: none;
  // border-radius: 5px;
  // font-size: 2.5em;
  // font-weight: 500;
  // text-align: center;
  // width: fit-content;
  // position: relative;
}

.group-dropdown {
  display: flex;
  align-items: center;
  margin-left: 2em;
  // margin-top: 5px;
}

.group-dropdown label {
  display: block;
  margin-bottom: 5px;
}


.grid-container {
  display: grid;
  // margin-left: 18%;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  padding: 20px;

  animation: fadeIn 2s;
}


.grid-item {
  position: relative; /* Add position relative */
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.7em;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.24);
}

.grid-item-1,
.grid-item-2,
.grid-item-3,
.grid-item-4 {
  grid-column: span 1;
  grid-row: span 2;
}

.grid-item-5 {
  grid-column: span 2;
  grid-row: span 4;
}

.grid-item-6,
.grid-item-7 {
  grid-column: span 2;
  grid-row: span 2;
  flex-direction: column;
}

.grid-item-8 {
  grid-column: span 4;
  grid-row: span 3;
}

.grid-item-9,
.grid-item-10 {
  grid-column: span 2;
  grid-row: span 2;
}

.grid-item-11{
  grid-column: span 4;
  grid-row: span 3;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.4em;
  margin-bottom: 0 !important;
}

.count {
  position: absolute; /* Add position absolute */
  font-family: 'Poppins', sans-serif;
  bottom: 0em;
  right: 0.5em;
  font-size: 5em;
  color: rgba(255, 91, 91, 0.66);
  font-weight: bold;
}

.count2 {
  position: absolute; /* Add position absolute */
  font-family: 'Poppins', sans-serif;
  bottom: 0em;
  right: 0.5em;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.66);
  font-weight: bold;
}

.table-container {
  margin-top: 20px;
}

.logged-hours-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
}

.logged-hours-table th,
.logged-hours-table td {
  padding: 10px;
  text-align: left;
}

.logged-hours-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 18px;
}

.logged-hours-table td {
  font-size: 24px;
}

.logged-hours-table .hours {
  font-size: 24px;
  font-weight: normal;
}

.logged-hours-table .number {
  font-size: 24px;
}

.logged-hours-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.logged-hours-table tbody tr:hover {
  background-color: #e6e6e6;
}

.logged-hours-table tbody tr + tr {
  margin-top: 20px; /* Adjust the margin value to control the spacing between entries */
}

.graph-and-average-container {
  display: flex;
  height: 90%;
}

.average-container {
  margin-right: 1em;
  position: relative;
  width: 60%;
  height: fit-content;
}

.graph-badge-green {
  background-color: #C7F5D3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  max-width: fit-content;
  border-radius: 0.3em;
  position: absolute;
  top: 50%;
  right: 10%;
  margin-left: 0.5em;
  transform: translateY(-50%);
  color: #33663D;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;

  i {
    margin-right: 1em;
  }

  #imp {
    margin: 0 !important;
  }
}

.graph-badge-red {
  background-color: #F6CCCB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  max-width: fit-content;
  border-radius: 0.3em;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: #8C2822;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;


  i {
    margin-right: 1em;
  }

  #imp {
    margin: 0 !important;
  }
}

.graph-badge-blue {
  background-color:   rgb(134, 227, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  max-width: fit-content;
  border-radius: 0.3em;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: rgba(4, 83, 142);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;

  i {
    margin-right: 1em;
  }

  #imp {
    margin: 0 !important;
  }
}


.line-chart-container {
  width: 40%;
  display: flex;
  align-items: center;
}

.line-chart {
  width: 100%;
}

.average-container h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: rgba(0,0,0,0.5);
  margin-bottom: 0.2em;
}

.average {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: rgba(0,0,0,0.66);
  margin-top: 0.5em;
}

.average-unit {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: rgba(0,0,0,0.5);
  margin-top: 1em;
}

.table-container::-webkit-scrollbar {
  display: none;
}

.table-container {
  // background-color: pink;
  height: 90%;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.table-item {
  background-color: rgba(227, 232, 239, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 1em;
  border-radius: 0.8em;
  height: fit-content;
  position: relative;
}

.line-seperator {
  height: 100%;
  width: 1em;
  background-color: rgba(0,0,0,0.7);
}

.item-description {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: rgba(0,0,0,0.66);
  max-width: 70%;

  p{
    margin-bottom: 0 !important;
  }
}

.item-duration {
  min-height: fit-content;
  max-width: 30%;

  p{
    margin-bottom: 0 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: rgba(0,0,0,0.66);
    padding: 0.5em;
    padding-bottom: 0em;
  }


  span {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.4em;
    color: rgba(0,0,0,0.55);
    text-transform: uppercase;
  }
}

.average-time {
  display: flex;
  max-width: 70%;

  .average-hours {
    margin-top: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: rgba(0,0,0,0.66);
    min-width: 50%;
  }

  .average-minutes {
    margin-top: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: rgba(0,0,0,0.66);
    min-width: 40%;
  }
}

.average-units{
  display: flex;
  max-width: 70%;

  .hour-unit {
    min-width: 50%;
  }

  .minute-unit {
    min-width: 40%;
  }
}

#chart-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
}
