<div class="app-container {{this.navbarIsCollapsed === true ? 'widen' : ''}}">
  <div class="main-content">
    <div class="analytics-page">
      <div class="analytics-content">
        <!-- <h1 class="page-title">Analytics</h1> -->

        <div class="dropdown-container">
          <!-- <label for="analytics-type">Select Analytics:</label> -->
          <select id="analytics-type" [(ngModel)]="filterValue" (change)="typeChanged(filterValue)">
            <option value="personal">Personal</option>
            <option value="group">Group</option>
          </select>

          <div *ngIf="filterValue === 'group'" class="group-dropdown">
            <label for="group-analytics">Select Group:</label>
            <select [(ngModel)]="sgroup" #selectElement (change)="selectGroup(sgroup)" style="width: 80%;">
              <option value="" disabled selected>Select group</option>
              <option *ngFor="let group of groups" [value]="group.id">{{group.groupName}}</option>
            </select>
          </div>
        </div>

        <div class="grid-container">
          <!-- Total Tickets -->
          <div class="grid-item grid-item-1">
            <h2>Overdue Tickets</h2>
            <p class="count">{{ overdueTicketsCount }}</p>
          </div>

          <!-- Tickets by Priority -->
          <div class="grid-item grid-item-2">
            <h2>Tickets Due Today</h2>
            <p class="count2">{{ ticketsDueTodayCount }}</p>
            <!-- Contents... -->
          </div>

          <!-- Tickets by Status -->
          <div class="grid-item grid-item-3">
            <h2>Active Tickets</h2>
            <p class="count2">{{ ActiveTicketsCount }}</p>
          </div>

          <!-- Distribution of Tickets -->
          <div class="grid-item grid-item-4">
            <h2>Pending Tickets</h2>
            <p class="count">{{ PendingTicketsCount }}</p>
            <!-- Contents... -->
          </div>

          <!-- Time and Expenses -->
          <!-- worklog.component.html -->
          <div class="grid-item grid-item-5">
            <h2>Hours Logged For</h2>
            <div class="table-container">
                <div *ngFor="let entry of latestWorklogs" class="table-item">

                    <!-- Display the ticket summary -->
                    <!-- <div class="item-summary">
                        <p>{{ entry.ticketSummary }}</p>
                    </div> -->

                    <!-- Display the worklog description -->
                    <div class="item-description">
                      <p>{{ entry.ticketSummary }}</p>
                    </div>

                    <div class="line-seperator"></div>

                    <!-- Display the hours -->
                    <div class="item-duration">
                        <p>{{ getHours(entry.worklog.timeSpent) }} <span>HOURS</span></p>
                    </div>
                </div>
            </div>
        </div>



          <!-- Ticket Lifecycle -->
          <!-- Time to First Response -->
          <div class="grid-item grid-item-6">
            <h2>Time to First Response</h2>
            <div class="graph-and-average-container">
              <div class="average-container">
                <h3>AVERAGE</h3>
                <!-- <p class="average">{{ averageTimeToFirstResponse }}</p> -->
                <div class="average-time">
                  <p class="average-hours">{{ averageResponseHours }}</p>
                  <p class="average-minutes">{{ averageResponseMinutes }}</p>

                </div>
                <div class="average-units">
                  <p class="average-unit hour-unit">HOURS</p>
                  <p class="average-unit minute-unit">MINUTES</p>
                </div>

                <div class=" {{calculateResponseTrendCSS()}}">
                  <i [ngClass]="getArrowResponseClass()"></i>
                  <p id="imp">{{ this.responsePercentChangeAbs  }} %</p>
              </div>

              </div>
              <div class="line-chart-container">
                <canvas #lineChartCanvas class="line-chart"></canvas>
              </div>
            </div>
          </div>
          <!-- Participation -->
          <div class="grid-item grid-item-7">
            <h2>Time to Ticket Resolution</h2>
            <div class="graph-and-average-container">
              <div class="average-container">
                <h3>AVERAGE</h3>
                <div class="average-time">
                  <p class="average-hours">{{averageResolutionHours }}</p>
                  <p class="average-minutes">{{averageResolutionMinutes}}</p>
                </div>
                <div class="average-units">
                  <p class="average-unit hour-unit">HOURS</p>
                  <p class="average-unit minute-unit">MINUTES</p>
                </div>


                <div class="{{calculateResolutionTrendCSS()}}">
                  <i [ngClass]="getArrowResolutionClass()"></i>
                  <p id="imp">{{ this.resolutionPercentChangeAbs }} % </p>
                </div>
              </div>
              <div class="line-chart-container">
                <canvas #ticketResolutionLineChartCanvas class="line-chart"></canvas>
              </div>
            </div>
          </div>


          <!-- Add remaining items -->
          <div class="grid-item grid-item-8">
            <h2>Ticket Volume Trend</h2>
            <div id="chart-wrapper">
              <canvas #ticketVolumeTrendChartCanvas style="width: 100%; height: 350px;"></canvas>
            </div>
          </div>

          <div class="grid-item grid-item-9">
            <h2>Tickets by Priority</h2>
            <div style="display: flex; justify-content: center;">
              <canvas #doughnutChartByPriorityCanvas></canvas>
            </div>
          </div>
          <div class="grid-item grid-item-10">
            <h2>Tickets by Status</h2>
            <div style="display: flex; justify-content: center;">
              <canvas #polarChartCanvas ></canvas>
            </div>
          </div>

          <div class="grid-item grid-item-11">
            <h2>Burn Down</h2>
            <div id="chart-wrapper">
              <canvas #burnDownChartCanvas style="width: 100%; height: 350px;"></canvas>
            </div>
          </div>
<!--
          <h2>Burn Down Chart</h2>
          <div id="chart-wrapper" style="background-color: yellow; width: 100%;">
            <canvas #burnDownChartCanvas style="width: 100%; height: 350px; background-color: red;"></canvas>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>

<!-- <app-dash-panel></app-dash-panel> -->
<!-- <app-page-header></app-page-header> -->
