<div>
    <app-settings></app-settings>
</div>
<div class ="profile">
    <h2>Profile</h2>
    <div class="profile-picture">
        <img src="https://res.cloudinary.com/ds2qotysb/image/upload/v1687775046/n2cjwxkijhdgdrgw7zkj.png" alt="profile-picture">
        <input type="file" name="profilePicture" (change)="onFileChanged($event)">
    </div>
    <form>

        <div class="form-group">
                <label for="name">Name:</label>
                <span id="name" name="name" *ngIf="!editingName" contenteditable="true" (input)="onNameChange($event)">{{ this.editedName }}</span>
                <img src="./assets/pencil.png" alt="pencil">
        </div>

        <div class="form-group">
            <label for="surname">Surname:</label>
            <span id="surname" name="surname" *ngIf="!editingSurname" contenteditable="true" (input)="onSurnameChange($event)">{{ this.editedSurname }}</span>
            <img src="./assets/pencil.png" alt="pencil">
        </div>

        <button [disabled]="!isDirty" (click)="saveChanges()" class="save-profile">Save</button>
</form>

</div>
