<div class = "header">
    <app-page-header></app-page-header>
</div>

<div class="panel">
    <app-dash-panel></app-dash-panel>
</div>

<div class ="profile">
    <div class="background_img">
        <button class="image-button"><img class src="./assets/pencil.png" alt="buttonpng" /></button>
    </div>
    <div class="profile-picture">
        <img src="{{ getUsersProfilePicture() }}" alt="profile-picture">
    </div>
    <input type="file" name="profilePicture" (change)="onFileChanged($event)">
    <form>

        <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" *ngIf="!editingName"
                      [(ngModel)]="editedName"
                      (keydown)="onFieldChange()">
                <img src="./assets/pencil.png" alt="pencil">
        </div>

        <div class="form-group">
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname" *ngIf="!editingSurname"
                  [(ngModel)]="editedSurname"
                  (keydown)="onFieldChange()">
            <img src="./assets/pencil.png" alt="pencil">
        </div>
        <div class ="role">
            Functional
        </div>
        <div class= "form-group">
            <label for="bio">Bio:</label>
            <textarea id="bio" class="input-field" style="height:50px;resize:vertical;" name="bio" placeholder="Tell us about yourself..."></textarea>
            <img src="./assets/pencil.png" alt="pencil">
        </div>

        <button [disabled]="!isDirty" (click)="saveChanges()" class="save-profile">Save</button>
</form>

</div>

