<div>
    <app-settings></app-settings>
</div>
<div class ="profile">
    <h2>Profile</h2>
    <div class="profile-picture">
        <img src="{{ getUsersProfilePicture() }}" alt="profile-picture">
        <input type="file" name="profilePicture" (change)="onFileChanged($event)">
    </div>
    <form>

        <div class="form-group">
                <label for="name">Name:</label>
                <p id="name" name="name" *ngIf="!editingName" contenteditable="true" (keydown)="onFieldChange()">
                  {{ this.editedName }}
                  <img src="./assets/pencil.png" alt="pencil">
                </p>
        </div>

        <div class="form-group">
            <label for="surname">Surname:</label>
            <p id="surname" name="surname" *ngIf="!editingSurname" contenteditable="true" (input)="onFieldChange()">
              {{ this.editedSurname }}
              <img src="./assets/pencil.png" alt="pencil">
            </p>
        </div>

        <button [disabled]="!isDirty" (click)="saveChanges()" class="save-profile">Save</button>
</form>

</div>
