.profile {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    float: center;
    display: grid;
  
    h2 {
      margin-bottom: 20px;
      text-align: center;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      width: 10px; /* Adjust the width as needed */
      height: auto; /* Maintain aspect ratio */
      margin-right: 10px; /* Adjust the margin as needed */
      margin-left: 10px;
    }
    
  
    .profile-picture {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
  
      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 10px;
      }
  
      input[type="file"] {
        margin-top: 10px;
      }
    }
  
    form {
      .form-group {
        margin-bottom: 20px;
  
        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }
  
        input[type="text"],
        input[type="email"] {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 3px;
        }
      }
  
      button[type="submit"] {
        display: block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
    }
  }
  