app-page-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.settings-container {
  width: 82%;
  float: right;
  font-family: 'Poppins', sans-serif;
  // padding: 0 15px;
  margin-top: 50px;
  font-weight: bolder;
  overflow-x: hidden;
  transition: all 300ms;
}

.profile-header-img {
  height: 200px;
  width: 100%;
  // border-radius: 20px;
  // border-bottom-left-radius: 20px;
  // border-bottom-right-radius: 20px;
  object-fit: cover;
}

.graph-badge-blue {
  background-color:   rgb(134, 227, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  max-width: fit-content;
  border-radius: 0.3em;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: rgba(4, 83, 142);
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;

  i {
    margin-right: 1em;
  }

  #imp {
    margin: 0 !important;
  }
}

.profile-picture img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  top: -50px;
  // border: 3px solid white; /* Optional: Add a border around the image */
  // box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);  /* Optional: Add a shadow for depth */
  right: -50px;
  object-fit: cover;

}

.profile-header-btn {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
}


button.profile-picture {
  background: none;
  border: none;
  padding: 0;
}


.profile-header {
  position: relative;
  border-radius: 20px;
}

.edit-icon-img {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height:40px;
}

.user-details {
  margin-left: 220px;
  margin-top: -140px;
}

.name-surname {
  display: flex;
  gap: 10px;
}

.name, .surname {
  font-family: "Poppins";
  font-size: 48px;
  line-height: 1.2em;
  font-weight: bolder;
  background: -webkit-linear-gradient(290deg, rgb(4, 83, 142) 0%, rgb(0, 196, 255) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.email {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  color: gray;
  font-size: 1.3em;
}

.location {
  display: flex;
  align-items: center;
  gap: 17px;
  margin-top: 10px;
  color: gray;
  font-size: 1.3em;
}

.email img {
  margin-left: 5px;

  width: 25px;
  height: 25px;
}

.location img {
  margin-left: 3px;

  width: 30px;
  height: 30px;
}

.bio {
  position: relative;
  margin-left: 50px;
  // right: 80px;
  margin-right: 50px;
}

.bio-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left:3px;
  color:gray;
}

.bio textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  padding: 16px;
}

.edit-icon-container {
  position: absolute;
  top: 40px;
  right: 10px;
}

.edit-icon-img {
  width: 35px;
  height:35px;
  // cursor: pointer;
  // right: 800px;
}

.edit-icon-container-2 {
  position: absolute;
  right: 10px;
  top: 1px;
  left: 50px;
}

.edit-icon-img-2 {
  width: 18px;
  height: 18px;
  // cursor: pointer;
}

.bio-line-one {
  // margin-top: -190px;
  margin-bottom: 180px;
  margin-top: 30px;
}

.bio-line-1 {
  height:1px;
  width: 1600px;
}

.analytics {
  margin-top:-150px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.analytics-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left:3px;
  color:gray;
}

.grid-container {
  display: grid;
  // margin-left: 18%;
  margin-top: -40px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  padding: 20px;
  height: 100px;
  width:93%;
  margin-left: 31px;
}


.grid-item {
  position: relative; /* Add position relative */
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 0.7em;
  // width: 90%;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.24);
}

.grid-item-6,
.grid-item-7 {
  grid-column: span 2;
  grid-row: span 2;
  flex-direction: column;
}

.graph-and-average-container {
  display: flex;
  height: 90%;
}

.average-container {
  margin-right: 1em;
  position: relative;
  width: 60%;
  height: fit-content;
}

.average {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  font-weight: bold;
  color: rgba(0,0,0,0.66);
  margin-top: 0.5em;
}

.average-unit {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: rgba(0,0,0,0.5);
  margin-top: 1em;
}

// .graph-badge-red {
//   background-color: #F6CCCB;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   padding: 0.5em;
//   max-width: fit-content;
//   border-radius: 0.3em;
//   position: absolute;
//   top: 50%;
//   right: 10%;
//   transform: translateY(-50%);
//   color: #8C2822;
//   font-family: 'Montserrat', sans-serif;

//   i {
//     margin-right: 1em;
//   }

//   #imp {
//     margin: 0 !important;
//   }
// }

.graph-badge-green {
  background-color: #C7F5D3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  max-width: fit-content;
  border-radius: 0.3em;
  position: absolute;
  top: 50%;
  right: 10%;
  margin-left: 0.5em;
  transform: translateY(-50%);
  color: #33663D;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;

  i {
    margin-right: 1em;
  }

  #imp {
    margin: 0 !important;
  }
}


.line-chart-container {
  width: 40%;
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.line-chart {
  width: 100%;
}


.average-time {
  display: flex;
  max-width: 70%;

  .average-hours {
    margin-top: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: rgba(0,0,0,0.66);
    min-width: 50%;
  }

  .average-minutes {
    margin-top: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    color: rgba(0,0,0,0.66);
    min-width: 40%;
  }
}

.average-units{
  display: flex;
  max-width: 70%;

  .hour-unit {
    min-width: 50%;
  }

  .minute-unit {
    min-width: 40%;
  }
}

.graph-badge-red {
  background-color: #F6CCCB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  max-width: fit-content;
  border-radius: 0.3em;
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  color: #8C2822;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;

  i {
    margin-right: 1em;
  }

  #imp {
    margin: 0 !important;
  }
}

.line-chart-container {
  width: 40%;
  display: flex;
  align-items: flex-end;
}

.line-chart {
  width: 100px;
  height: 450px; /* Adjust the height as desired */
}

.view-report-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-detailed-report {
  font-family: "Poppins";
  font-size: 26px;
  line-height: 1.2em;
  font-weight: bolder;
  background: -webkit-linear-gradient(290deg, rgb(4, 83, 142) 0%, rgb(0, 196, 255) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 180px;
}

.view-detailed-report p {
  text-decoration: underline;
}

.bio-line-two {
  margin-bottom: 180px;
  margin-top: 30px;
}

.bio-line-2 {
  height:1px;
  width: 1600px;
}

///here
.socials-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left:3px;
  color:gray;
  margin-top:-150px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.socials-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
  margin-bottom: 50px;
  margin-top: -30px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 46%;
}


.social-card {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-icon {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  // border-color: black;
  margin-right: 15px;
}

.input-bio {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 98%;
  // height: 100px;
}

.social-input-github {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.social-input-linkedin {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.social-link {
  margin-left: 10px;
}

.bio-line-three {
  margin-bottom: 180px;
  margin-top: 30px;
}

.bio-line-3 {
  height:1px;
  width: 1600px;
}


.groups-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left:3px;
  color:gray;
  margin-top:-150px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.tickets-text{
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left:3px;
  color:gray;
  margin-top:-150px;
  margin-bottom: 30px;
  margin-left: 50px;
}

.bubble-container {
  border: 1px solid #494545;
  border-radius: 15px;
  margin: 20px 0;
  padding: 20px;
  width: 94%;
  margin-left: 40px;
}

.group-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 20px;
  border-color: #494545;
}

.bio-line-four {
  margin-bottom: 180px;
  margin-top: 30px;
}

.bio-line-4 {
  height:1px;
  width: 1600px;
}


.notifications-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  margin-left:3px;
  color:gray;
  margin-top:-150px;
  margin-bottom: 40px;
  margin-left: 50px;
}

.save-profile-btn-container{
  width: 100%;
  display: flex;
  // justify-content: flex-end;
  position: relative;
}

.save-profile-btn{
  background: linear-gradient(147deg, rgba(4,83,142,1) 0%, rgba(0,196,255,0.7) 150%) !important;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  // margin: 1em;
  margin-left: 82%;
  margin-top: -50px;
}

.edit-icon-container-3 {
  position: relative;
  // right: 10px;
  // right: 10px;
  bottom: 60px;
  left: 140px;
  // margin-right: 50px;
}

.edit-icon-img-3 {
  width: 18px;
  height: 18px;
  // cursor: pointer;
}

.go-icon{
  width:25px;
  height:25px;

}

.pointer{
  cursor: pointer;
}

.modal {
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  width: 60%;
  max-width: 800px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 15px;
  // padding: 0;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
  object-fit: cover;
  width: 100%;
}

.edit-profile-text {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  top:10px;
}

.close-button {
  background: linear-gradient(147deg, rgb(250, 250, 250) 0%, rgba(208, 208, 208, 0.7) 150%) !important;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
}

.save-button {
  background: linear-gradient(147deg, rgba(4,83,142,1) 0%, rgba(0,196,255,0.7) 150%) !important;
  padding: 0.5em 1em;
  border-radius: 1em;
  color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.50);
  // margin: 1em;
  // margin-left: 82%;
  // margin-top: -50px;
}

.edit-profile-text, .close-button, .save-button {
  margin: 15px;
}

.close-button img {
  width: 20px;
}


.header-photo-container, .profile-photo-container {
  text-align: center;
}

.header-photo {
  width: 100%;
  max-height: 170px;
  object-fit: cover;
  display: block;
}

.profile-photo {
  width: 150px;
  height: 150px;
  margin: -50px auto 0;
  border-radius: 50%;
  border: 2px solid white;
  display: block;
  object-fit: cover;
}

.user-info label {
  display: block;
  margin: 15px 0 5px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}

.user-info {
  padding: 20px;
}

.name-modal {
  font-family: "Poppins";
  font-size: 40px;
  line-height: 1.2em;
  font-weight: bolder;
  background: -webkit-linear-gradient(290deg, rgb(4, 83, 142) 0%, rgb(0, 196, 255) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -75px;
  margin-left: 190px;
  margin-bottom: 5px;
}

.header-photo.pointer, .profile-photo.pointer {
  transition: opacity 0.3s;
}

.profile-photo.pointer:hover {
  filter: grayscale(30%);
}

.bio, .github, .linkedin {
  width: 100%;
  box-sizing: border-box;
}

.user-info input[type="text"], .user-info input[type="url"] {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0;
  box-sizing: border-box;
}

.user-info input[type="text"]::-webkit-input-placeholder,
.user-info input[type="url"]::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.7;
}
.user-info input[type="text"]:-moz-placeholder,
.user-info input[type="url"]:-moz-placeholder {
  color: inherit;
  opacity: 0.7;
}
.user-info input[type="text"]::-moz-placeholder,
.user-info input[type="url"]::-moz-placeholder {
  color: inherit;
  opacity: 0.7;
}
.user-info input[type="text"]:-ms-input-placeholder,
.user-info input[type="url"]:-ms-input-placeholder {
  color: inherit;
  opacity: 0.7;
}

.profile-photo-container {
  margin-left: -600px;
}
