.panel{
  position: absolute;
  top: 0;
 }

 .file-input-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../assets/pencil.png) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
  margin-left: 880px;
  margin-top: 10px;
}

.file-input-label:hover {
  background-color: #d0d0d0;
}


.file-input {
  visibility: hidden;
  width: 0;
  height: 0;
}
.profilePicture-input{
  display: inline;
  width: 150px;
  height: 10px;
  margin-left: 110px;
  margin-top: 20px;
 // background: url(../../assets/pencil.png) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}
.profile-input{
  visibility: hidden;
  width: 0;
  height: 0;
}
 .background_img {
  width: 65.35em;
  margin-top: -15px;
  margin-left: -15px;
  height: 180px;
  background-color: #e1e7ed;
  background: url("https://source.unsplash.com/9wg5jCEPBsw");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;

  border-color: black;
}

.image-button {
  display: inline-block;
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
  margin-left: 800px;
  border: none;
  cursor: pointer;
}

 .role{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #f2f2f2;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 10px;
  border-color: gray;
 }

.profile {
     width: 70%;
     position: absolute;
    // //margin: 0 auto;
     padding: 15px;
     border: 1px solid black;
     border-radius: 20px;
     margin-left: 350px;
     background: white;
     //background: linear-gradient(180deg, rgba(4,83,142,1) 0%, rgba(116,172,205,1) 80.73%, rgba(0,167,218,1) 100%);
     margin-top: 75px;
    // float: center;
     display: grid;
}
label{
  color: black;
  font-family: 'Poppins', sans-serif;
  margin-top: 0px;
  font-weight: bold;
}

    h2 {
      margin-bottom: 20px;
      text-align: center;
      color: black;
      font-family: 'Poppins', sans-serif;
    }

    img {
      display: inline-block;
      vertical-align: middle;
      width: 10px; /* Adjust the width as needed */
      height: auto; /* Maintain aspect ratio */
      margin-right: 10px; /* Adjust the margin as needed */
      margin-left: 10px;
       border: 2px solid white;
    }


    .profile-picture {
      width:150px;
      height:150px;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: -100px;
      margin-left: -10px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-top: -60px;
    

      img {
        width:  150px;
        height: 150px;
        object-fit: cover;
        border-radius: 50%;
        border-color:  white;
        margin-bottom: 10px;
      }

      input[type="file"] {
        margin-top: 10px;
      }
    }

    form {
      .form-group {
        margin-bottom: 20px;
        width: 100%;
        position: relative;

        label {
          margin-top: 60px;
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }

        input[type="text"] {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          font-size: 14px;
        }
      }

      button[type="submit"] {
        display: block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
      }
    }

  .save-profile{
    background-color: #007bff;
    color: white;
    width: 100%;
    padding: 0.5em;
    border-radius: 0.7em;
  }

  .save-profile:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
.textarea{
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
          font-size: 14px;

}
  #name, #surname, #bio{
    // border-bottom: 1px solid black;
    outline: none;
    padding: 1em;
    max-width: 100%;
    position: relative;
    width: 90%;

    img{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(0, -50%);
    }
  }

  #name:hover, #surname:hover:hover {
    background-color: rgba(0,0,0,0.2);
  }
