<div class = "header">
    <app-page-header></app-page-header>
</div>

<div class="panel">
    <app-dash-panel></app-dash-panel>
</div>

<div class ="profile">
    <div class="background_img">
      <img src="./assets/Draven_2.jpg" alt="background_img" class="b_img">
    </div>
    <div class="profile-picture">
        <label for="fileInput" class="profilePicture-input">
            <img src="{{ getUserProfilePicture() }}" class="profile-picture" alt="profile-picture">
        </label>
    </div>
    <div class="labels">
        <div class="name-surname">
            <label for="name" class ="labelName">{{ getUserName() }}</label>
            <label for="surname" class = "labelSurname">{{ getUserSurname() }}</label>
        </div>
        <div class="email">
            <label for="email" class="labelEmail">{{ getUserEmail()}}</label>
        </div>
        <div  class="location">
            <label for="location" class="labelLocation">Sandton, South Africa</label>
        </div>
    </div>
        <div class= "form-group">
            <h3>Bio</h3>
            <div class = "bio-p">
              <p>{{ getUserBio() }}</p>
            </div>
        </div>
  <h3>Analytics</h3>
  <div class="grid-item grid-item-6">
  <div class="header2">
    <h2>First Response</h2>
  </div>  
    <div class="graph-and-average-container">
      <div class="average-container">
        <h3>AVERAGE</h3>
        <p class="average">{{ averageTimeToFirstResponse }}</p>
        <p class="average-unit">MINUTES</p>
        <div class="graph-badge-green">
          <i class="fa-solid fa-arrow-trend-up"></i>
          <p id="imp">20.1%</p>
        </div>
      </div>
      <div class="line-chart-container">
        <canvas #lineChart class="line-chart"></canvas>
      </div>
    </div>
  </div>
  <div class="grid-item grid-item-7">
    <h2>Ticket Resolution</h2>
    <div class="graph-and-average-container">
      <div class="average-container">
        <h3>AVERAGE</h3>
        <div class="average-time">
          <p class="average-hours">{{averageTimeHours}}</p>
          <p class="average-minutes">{{ averageTimeMinutes }}</p>
        </div>
        <div class="average-units">
          <p class="average-unit hour-unit">HOURS</p>
          <p class="average-unit minute-unit">MINUTES</p>
        </div>
        <div class="graph-badge-red">
          <i class="fa-solid fa-arrow-trend-down"></i>
          <p id="imp">11.91%</p>
        </div>
      </div>
      <div class="line-chart-container">
        <canvas #timeToTicketResolutionChart class="line-chart"></canvas>
      </div>
    </div>
  </div>
  <a href="" class="VDR"><u>View Detailed Report</u></a>
  <div class="socials">
      <h3 class="socials-header">Socials</h3>
      <div class="social-item-1">
        <img src="./assets/facebook_logo.png" alt="facebook_logo.png" class="fb-logo">
        <a href=" {{ getUserFB() }}">Visit Facebook</a>
      </div>
      <div class="social-item-2">
        <img src="./assets/github-logo.png" alt="github_logo.png" class="gh-logo">
        <a href="{{ getUserGH() }}">Visit Github</a>
      </div>
      <div class="social-item-3">
        <img src="./assets/linkedin_logo.png" alt="linkedin_logo.png" class="li-logo">
        <a href="{{ getUserLI() }}">    Visit Linkedin</a>
      </div>
      <div class="social-item-4">
        <img src="./assets/instagram_logo.png" alt="instagram_logo.png" class="ig-logo">
        <a href="{{ getUserIG() }}"> Visit Instagram</a>
      </div>
  </div>
</div>

