<div class = "header">
    <app-page-header></app-page-header>
</div>

<div class="panel">
    <app-dash-panel></app-dash-panel>
</div>

<div class ="profile">
    <div class="background_img">
    </div>
    <div class="profile-picture">
        <label for="fileInput" class="profilePicture-input">
            <img src="{{ getUsersProfilePicture() }}" class="profile-picture" alt="profile-picture">
        </label>
    </div>

    <form>

        <label for="name">John &nbsp;</label>
        <label for="surname">Smith &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</label>
        <label for="email">johnsmith@gmail.com</label>
        <div class ="role">
            Functional
        </div>
        <div class= "form-group">
            <label for="bio">Bio:</label>
            <p>John Smith is an experienced software engineer with a passion for crafting innovative solutions to complex problems. With over 10 years of professional experience in the field, John has honed his skills across various programming languages and technologies.
                John's journey in programming began during his early years in high school when he developed a keen interest in computers and logical thinking. He went on to pursue a Bachelor's degree in Computer Science, where he deepened his understanding of algorithms, data structures, and software development principles.</p>
        </div>
</form>

</div>

