<div class="comment-outer-container">
  <div class="comment-inner-container">
    <div class="comment-header">
      <div class="user-profile-img">
        <img src="{{ this.comment.authorPhoto }}" alt="author profile image">
      </div>
      <h3><span>{{ this.comment.author }}</span> added a comment <span>{{ getCommentTime(this.comment) }}</span></h3>
      <div class="comment-info-tab">{{ this.comment.type }}</div>
    </div>

    <!-- <p> {{ this.comment.content }} </p> -->
  </div>
</div>
