<div>
    <app-page-header></app-page-header>
</div>
<div>
    <app-dash-panel></app-dash-panel>
</div>

<div class = "panel">
    <input type="text" class = "searchBar">
    <div class = "filter-panel">
            <div class = "filter-item-1">
                <img src = "./assets/ticket.png" alt = "Tickets-Icon" class = "img-ticket">
                <h2> Tickets </h2>
                <label class="switch-container-ticket">
                    <input type="checkbox" class = "ticket-checkbox">
                    <div class="switch-track">
                        <div class="switch-thumb"></div>
                    </div>
                </label>
            </div>
            <div>
            </div>
            <div class = "filter-item-2">
                <img src = "./assets/follower.png" alt = "groups-Icon" class = "img-group">
                <h2> Groups </h2>
                <label class="switch-container-groups">
                    <input type="checkbox" class = "groups-checkbox">
                    <div class="switch-track">
                        <div class="switch-thumb"></div>
                    </div>
                </label>
            </div>
            <div class = "filter-item-3">
                <img src = "./assets/profile-icon.png" alt = "user-Icon" class = "img-user">
                <h2> Users </h2>
                <label class="switch-container-users">
                    <input type="checkbox" class = "users-checkbox">
                    <div class="switch-track">
                        <div class="switch-thumb"></div>
                    </div>
                </label>
            </div>
            <div class = "filter-item-4">
                <img src = "./assets/add-user.png" alt = "user-Icon" class = "img-client">
                <h2> Clients </h2>
                <label class="switch-container-client">
                    <input type="checkbox" class = "client-checkbox">
                    <div class="switch-track">
                        <div class="switch-thumb"></div>
                    </div>
                </label>
            </div>
            <div class = "filter-item-5">
                <img src = "./assets/pencil.png" alt = "user-Icon" class = "img-project">
                <h2> Projects </h2>
                <label class="switch-container-project">
                    <input type="checkbox" class = "project-checkbox">
                    <div class="switch-track">
                        <div class="switch-thumb"></div>
                    </div>
                </label>
            </div>
    </div>
</div>