@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.container{
  margin-top: 2em;

  animation: fadeIn 2s;

  h1{
    font-family: 'Poppins';
    font-size: 60px;
    line-height: 1.2em;
    font-weight: bolder;

    background: -webkit-linear-gradient(290deg, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  p {
    font-family: 'Montserrat';
    font-size: 1.2em;
    font-weight: 100;
    color: rgba(0,0,0,0.6);
  }

  .dashboard-btn{
    background: -webkit-linear-gradient(left, rgba(4, 83, 142) 0%, rgba(0, 196, 255) 100%,);
    font-family: 'Poppins';
    font-size: 20px;
    color: white;
    padding: 0.8em;
    border-radius: 0.3em;
    margin-top: 3em;
    min-width: 10em;
  }
}
