<!DOCTYPE html>
<html>
    <head>
        <style>
            .sidenav{
    height: 100%;
    width: 330px;
    position: fixed;
    background-color: #111;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

.sidenav a:hover {
    color: #f1f1f1;
  }
h2{
color:#f1f1f1;
}
        </style>
    </head>
</html>

<div class = "sidenav">
    <h2>Nedbank Mobile Applicaion</h2>
    <a href ="#">Tickets</a>
    <a href ="#">Teams</a>
    <a href ="#">Analytics</a>
    <a href ="#">Create Account</a>
    <a href ="#">Settings</a>
</div>