@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  background-color: #494945;
  font-family: 'Montserrat';
}

.sidelogin {
  height: 100%;
  width: 700px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 30px;
}

.logoName {
  text-align: center;
  margin-bottom: 20px;
}

.loginDescription {
  margin-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: 'Montserrat'
}

.loginDetails {
  margin-bottom: 20px;
  padding-left: 100px;
  padding-right:100px;
}


.loginDetails label {
  display: block;
  font-size: 13px;
}

.loginDetails input {
  width: 465px;
  padding: 15px;
  border: 2px solid #CCC;
  margin: 10px 0 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 8px;
  font-size: 13px;
}

.loginDetails input[type=email]:focus {
  border: 2px solid #494945;
}

.loginDetails input[type=email]:focus {
  border: 2px solid #494945;
}

.form-check.keepLogin {
  margin-bottom: 20px;
}

.form-check.keepLogin label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
  font-size: 13px;
}

.form-check.keepLogin input {
  width: 15px;
  height: 15px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  border-color: #494945;
}

.form-check.keepLogin input[type="checkbox"]#kLogin:checked + span {
  background-color: #494945;
}

.btn {
  background: #494945;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  width: 500px;
  border-radius: 8px;
  height: 50px;
  font-size: 20px;
}

.btn:hover {
  background: #575752;
  transition: background 0.3s ease;
}

.loginButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
}

.illustration {
  background-color: #494945;
  padding-left: 700px; //same length as the size of the side nav
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.illustration img {
  position: absolute;
  width: 45%;
  right: -2em;
  top: 5em;
}
