.dashboard-container {
width: 70%;
margin-left: 330px;
margin-top: 70px;
}

app-page-header{
  position: fixed;
  top: 0;
  left: 0;
}

app-dash-panel{
  position: fixed;
  top: 50px;
  left: 0;
  height: 100vh;
}
// .dashboard-container {
//   display: flex;
//   flex-direction: column;
// }
