<div class="dashboard-container {{this.navbarIsCollapsed === true ? 'widen' : ''}}">
  <!-- <app-search-bar
  (searchEvent)="searchTicket($event)"
  (filterChangeEvent)="filterTicketsByStatusAndProject($event)"
></app-search-bar> -->
  <app-ticket-table (openForm)="openUpdateForm($event)" [tickets]="filteredTickets" [ticketFailure]="ticketFailure"></app-ticket-table>
  <app-update-ticket-modal *ngIf="showUpdateForm" (closeUpdateForm)="closeUpdateForm()" (updateTicketEvent)="updateTicket($event)"></app-update-ticket-modal>
  <!-- <app-page-header></app-page-header> -->
  <app-new-ticket-form *ngIf="showForm" (newTicketEvent)="addNewTicket($event)" (closeForm)="closeForm()"></app-new-ticket-form>
</div>
<!-- <app-dash-panel (openForm)="openNewTicketForm()" [tickets]="tickets"></app-dash-panel> -->

