// body {
//   overflow-y: hidden; /* Hide scrollbars */
// }

.dashboard-container {
  // padding-left: 330px;
  margin-top: 60px;
  width: 82%;
  float: right;
  transition: all 300ms;
}

// .dashboard-container::-webkit-scrollbar {
//   width: 8px;
// }

// .dashboard-container::-webkit-scrollbar-thumb {
//   background-color: #74ACCD;
//   border-radius: 4px;
// }

// .dashboard-container::-webkit-scrollbar-track {
//   background-color: #f2f2f2;
// }

// .dashboard-container::-webkit-scrollbar-thumb:vertical:hover {
//   background-color: #0e80b5;
// }

app-page-header{
  position: fixed;
  top: 0;
  left: 0;
}

app-dash-panel{
  position: fixed;
  left: 0;
  height: 100vh;
}

app-search-bar {
  width: 100vw;
}

app-ticket-table {
  width: 100vw;
}
// .dashboard-container {
//   display: flex;
//   flex-direction: column;
// }
